        <script type="text/html" id="alacarte_">
            <div class="well">
                <span class="label label-inverse box-rotate tab-pos">A La Carte</span>
                <form id="alacarte_form">
                    <fieldset>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Part</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Line Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: alacarte.purchase_lines">
                                <tr>
                                    <td>
                                        <select data-bind='options:CPARTS, optionsText: "name", optionsCaption: "Choose Part...", value: selected_part, event:{ change: $parent.alacarte.dirtyRefresh }'></select>
                                    </td>
                                    <td>
                                        <input class="input-mini" data-bind='visible: selected_part, value: quantity, valueUpdate: "afterkeydown"' style="text-align: center;"/>
                                    </td>
                                    <td data-bind="with: selected_part">$<span data-bind='visible: price, text: price'></span></td>
                                    <td>$<span data-bind='visible: total_price, text: formatCurrency(total_price())'></span></td>
                                    <td><a href='#' data-bind='click: $parent.alacarte.removeLine'>Remove</td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-success purchase_items" data-bind='click: alacarte.addLine'><i class="fa fa-plus"></i> Add Part</button>
                        <button class="btn btn-primary purchase_items" data-bind='click: alacarte.save'>Save Purchase</button>
                        <div class="form-actions">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-down"></i> Next</button>
                                <button class="btn">Clear</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </script>
