		<script type="text/html" id="closing_">
			<div class="well">
				<span class="label label-inverse box-rotate tab-pos">Closing</span>
				<form id="closing_form">
					<fieldset>
						<div class="controls controls-row" data-bind="foreach: CLOSERS">
							<div class="control-group well well-small span3">
								<label class="control-label checkbox">
									<input type="checkbox">
									<h5><span data-bind="text: $data.name"></span></h5>&nbsp;
									<hr class="muted">
									<ul>
										<li><small><span data-bind="text: $data.description"></span></small></li>
									</ul>
								</label>
							</div>
						</div>
						<div class="form-actions">
							<div class="pull-right">
								<button type="submit" class="btn btn-primary" id="closing_submit"><i class="fa fa-arrow-down"></i> Next</button>
								<button class="btn">Clear</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</script>
