		<script type="text/html" id="combos_">
			<div class="well">
				<span class="label label-inverse box-rotate tab-pos">Combos</span>
				<form id="combo_form">
					<fieldset>
						<div class="controls controls-row" data-bind="foreach:PRODUCTS_BY_TYPE.Combo">
							<!-- <legend>Combos</legend> -->
							<div class="control-group well well-small span3">
								<label class="control-label checkbox">
									<input type="checkbox" data-bind="checked: $parent.combo.selected_codes, checkedValue: $data, click: $parent.combo.select_item">
									<h5 data-bind="text: name"></h5>&nbsp;
									<!-- ko if: $data.product_price -->
									<span class="badge badge-info" data-bind="text: $data.product_price.upfront_price"></span>
									<!-- /ko -->
									<hr class="muted">
									<small data-bind="text: $data.description"></small>
									<ul data-bind="foreach: $data.contents">
										<li><small data-bind="text: $data.code"></small>&nbsp;x<small data-bind="text: $data.quantity"></small></li>
									</ul>
								</label>
							</div>
						</div>
						<table class="table" id="combo_contents">
							<thead>
								<tr>
									<th>Part</th><th>Quantity</th>
								</tr>
							</thead>
							<tbody data-bind="foreach: $parent.combo.contents">
								<tr>
									<td><span data-bind="text: code">Code</span></td>
									<td><span data-bind="text: quantity">Quantity</span></td>
								</tr>
							</tbody>
						</table>
						<div class="form-actions">
							<div class="pull-right">
								<button type="submit" class="btn btn-primary"><i class="fa fa-arrow-down"></i> Next</button>
								<button class="btn">Clear</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</script>
