		<script type="text/html" id="customer_info">
			<div class="well">
				<span class="label label-inverse box-rotate tab-pos">Customer Info</span>
				<form id="cinfo_form" class="form-horizontal">
					<fieldset>
						<!-- <div class="controls controls-row"> -->
							<!-- <legend>Customer Info</legend> -->
							<div class="well">
								<div class="control-group">
									<label class="control-label">Name:</label>
									<div class="controls">
										<input type="text" placeholder="First" data-bind="value: applicant.first_name">
										<input type="text" placeholder="Last" data-bind="value: applicant.last_name">
									</div>
									<span class="help-inline"></span>
								</div>
								<div class="control-group">
									<label class="control-label">Address:</label>
									<div class="controls">
										<input type="text" placeholder="Address" data-bind="value: billing_address.address">
										<input class="input-small" type="text" placeholder="City" data-bind="value: billing_address.city">
										<select class="input-mini" data-bind="options: states, optionsCaption: 'Please select...', value: billing_address.state"></select>
										<input class="input-mini" type="text" placeholder="ZIP" data-bind="value: billing_address.zip">

									</div>
									<span class="help-inline"></span>
								</div>
							</div>
							<div class="well">
								<div class="control-group">
									<label class="control-label">SSN or Tax ID:</label>
									<div class="controls">
										<input type="text" placeholder="SSN or Tax ID">
									</div>
									<span class="help-inline"></span>
								</div>
								<div class="control-group">
									<label class="control-label">E-mail Address:</label>
									<div class="controls">
										<input type="text" placeholder="E-mail" data-bind="value: email">
									</div>
									<span class="help-inline"></span>
								</div>
							</div>
						<!-- </div> -->
						<div class="form-actions">
							<div class="pull-right">
								<button type="submit" class="btn btn-primary" id="cinfo_submit" data-bind="enable: cinfo_complete()"><i class="fa fa-arrow-down"></i> Next</button>
								<button class="btn" type="reset">Clear</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</script>
