		<script type="text/html" id="monitor_">
			<div class="well">
				<span class="label label-inverse box-rotate tab-pos">Monitoring</span>
				<form id="monitor_form">
					<fieldset>
						<div class="controls controls-row" data-bind="foreach:MONITORS">
							<div class="select_monitoring control-group well well-small span3" data-bind="click: $parent.selected_monitoring">
								<center><span data-bind="text: name"></span></center>
							</div>
						</div>
						<div class="form-actions">
							<div class="pull-right">
								<button type="submit" class="btn btn-primary" id="monitor_submit" data-bind="enable: monitoring()"><i class="fa fa-arrow-down"></i> Next</button>
								<button type="reset" class="btn">Clear</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</script>
