		<script type="text/html" id="promos_">
			<div class="well">
				<span class="label label-inverse box-rotate tab-pos">Promos</span>
				<div class="controls controls-row" data-bind="foreach:SERVICES">
					<div class="control-group well well-small span3">
						<label class="control-label checkbox">
							<input type="checkbox" disabled="true" checked>
							<h5><span data-bind="text: $data.name"></span></h5>&nbsp;
							<span class="badge badge-info" data-bind="text: $data.price"></span>
							<hr class="muted">
							<ul>
								<li><small>Added because you have <span data-bind="text: $data.reason"></span>
							</ul>
						</label>
					</div>
				</div>
				<form id="promo_form">
					<div class="form-actions">
						<div class="pull-right">
							<button type="submit" class="btn btn-primary" id="cinfo_submit"><i class="fa fa-arrow-down"></i> Next</button>
							<button class="btn" type="reset">Clear</button>
						</div>
					</div>
				</form>
			</div>
		</script>
