		<script type="text/html" id="review_">
			<div class="well">
                <span class="label label-inverse box-rotate tab-pos">Review</span>
                <div data-bind="foreach: $parent.review.tree()">
                    <div class="controls controls-row">
                        <div class="control-group well well-small" data-bind="style: {backgroundColor: $parent._str2hsla(category, 0.5)}, css: {offset1: indent}">
                            <span data-bind="text: product"></span>
                            <span data-bind="text: category"></span>
                            x<span data-bind="text: quantity"></span>
                            <span class="badge badge-info" data-bind="text: monthly_total"></span>
                            <span class="badge badge-warning" data-bind="if: mandatory">MANDATORY</span>
                        </div>
                    </div>
                </div>
                <!--
				<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>
                -->
			</div>
		</script>
