{% extends 'knockout_templates/base_ko_section_template.html' %}
{% block vm_id %}shipping{% endblock %}

{% block section_content %}

<div class="row" data-bind="visible: master.dirty">
    <div class="span11 alert alert-info">
        Your agreement has been modified, please click Save to save your adjustments before continuing.
    </div>
</div>
<!-- ko if: master.dirty -->
<!-- /ko -->




{% endblock %}

{% block kasdfjhajksdf %}


<div class="row"><div class="span11">

    <table class="table">
        <thead>
            <th colspan="2" data-bind="text: vm.cart_heading_label()">asdfasff</th>
            <th>Upfront</th>
            <th>Monthly</th>
            <th>&times;</th>
            <th>Quantity</th>
            <th>=</th>
            <th>Upfront</th>
            <th>Monthly</th>
        </thead>
        <tbody data-bind="
            foreach: {
                data: vm.top_lines(),
                as: 'cline'
            }
            ">
            <tr>
                <td data-bind="text: cline.product.code"></td>
                <td data-bind="text: cline.product.name"></td>

                <td data-bind="text: cline.upfront_each_fmted()"></td>
                <td data-bind="text: cline.monthly_each_fmted()"></td>
                <td>&times;</td>
                <td data-bind="text: cline.quantity()" style="text-align:center;" /></td>
                <td>=</td>
                <td data-bind="text: cline.upfront_line_fmted()"></td>
                <td data-bind="text: cline.monthly_line_fmted()"></td>
                <!-- ko if: cline.product.product_type === 'Package' && cline.quantity() -->
                <!-- /ko -->


            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th colspan="7"></th>
                <th data-bind="text: formatCurrency(vm.upfront_subtotal())"></th>
                <th data-bind="text: formatCurrency(vm.monthly_subtotal()) + '/mo'"></th>
            </tr>
        </tfoot>

    </table>
</div></div>
{% endblock %}
