@import "../bootstrap/less/bootstrap.less";
@import "font-awesome/font-awesome.less";
@import "../bootstrap-switch/less/bootstrap-switch.less";

@copper: #B87333;
@bronze: #CD7F32;
@silver: #C0C0C0;
@gold: #D4A017;
@platinum: #E5E4E2;
@business: #C9EAF3;

.transform-origin(@x-offset, @y-offset){
    -webkit-transform-origin: @x-offset @y-offset;
    -moz-transform-origin: @x-offset @y-offset;
    -o-transform-origin: @x-offset @y-offset;
    -ms-transform-origin: @x-offset @y-offset;
    transform-origin: @x-offset @y-offset;
}

body {
    padding-top: 60px;
    height: 100%;
}

section {
    padding-top: 70px;
    margin-top: -100px;

    .content > & {
        & > p {
            background-color: white;
            height: 570px;
        }
    }
}

.footermenu{
  margin-top: @baseLineHeight;
  margin-bottom: @baseLineHeight;
  margin-left: 0;
  ul{
    li{
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

.container > div.footer p {
  text-align: center; /* center align it with the container */
}

#infobar {
    display: table;
    border-spacing: 5px;

    i {
        position: absolute;
        top: 4px;
        right: 2px;
    }
}

#infobar_content {
    display: table-row;
    & > div{
        display: table-cell;
    }
}

#infobar_left {
    border: 1px solid rgb(227,227,227);
    border-radius: 4px;
    padding: 2px;
}

.infobar_zero {
    margin: 0;
    padding: 2px;
}

.box-rotate {
    .rotate(-90deg);
}

.tab-pos {
    .transform-origin(25%, 217%);
    width: 120px;
    font-size: 12pt;
    padding: 10px;
    text-align: center;
    position: relative;
    top: 50px;
    left: 23px;
}

section.vm {
    &.complete .section-tab {
        background-color: green;
    }
    &.incomplete .section-tab {
        background-color: firebrick;
    }
}

.copper {
    background-color: @copper;
}

.bronze {
    background-color: @bronze;
}

.silver {
    background-color: @silver;
}

.gold {
    background-color: @gold;
}

.platinum {
    background-color: @platinum;
}

.business {
    background-color: @business;
}

.select_package,
.customize,
.cancel_custom {
    cursor: pointer;
    cursor: hand;
}

.nav-list {
    & > .active {
        & > .complete {
            background-color: green;
        }

        & > .incomplete {
            background-color: black;
        }
    }
}

.hyde, .nav .hyde {
    display: none;
}

.select_package {
    cursor: pointer;
    cursor: hand;
}
.customize {
    cursor: pointer;
    cursor: hand;
}
.cancel_custom {
    cursor: pointer;
    cursor: hand;
}
.part_section {
    background-color: #2B3856;
    color: white;
}
.package_name {
    color:white;
    font: 16pt;
    font-weight: bold;
    text-align: center;
}

.monitoring,
.shipping {
    .selected {
        border: 5px dashed green;
    }
    .not-selected {
        border: 5px dashed rgba(0,0,0,0);
    }
}

.purchase_items {
    width: 140px;
}
#right_sidebar {
    position: fixed;
    padding-top: 130px;
    right: 0%;
    height: 100%;
}
#infobox {
    position: fixed;
    top: 0%;
}
.container > .content {
    padding-top: 130px;
}
.page_section {
    padding-bottom: 60px;
}
.navbadge {
    padding: 8px;
    font-size: 20px;
}

.green_nav {
    color: green;
}

#right_sidebar {
    .complete {
        color: green;
    }
    .incomplete {
        color: black;
    }
}
.affix {
    top:        40px;
    left:       0px;
    z-index:    1000;
}

.strike {
    text-decoration: line-through;
}
.strike-red {
    text-decoration: line-through;
    text-decoration-color: red;
    -moz-text-decoration-color: red;

}

.invoice_line {
    td:nth-child(1) {
        font-weight: bold;
    }

    &.child {
        td:nth-child(1) {
            font-weight: normal;
        }
        font-size: smaller;
        font-style: italic;
        td {
            margin-left: 10px;
        }
        background-color: #D9EDF7;
    }
    /* background-color: #C3C3C3; */
}

.zip-input{
    width: 112px;
}

.login-display{
    margin-bottom: 10px;
}

.agreement_info_display{
    height: 100px;
    line-height: 100px;
    width: 1440px;
    margin: 0 auto;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    .border-radius(5px);
}

table.section-table{
    margin-left: 20px;
}

.form-actions{
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.well{
    form{
        margin-bottom: 0;
    }
}
