body {
    padding-top: 60px;
    height: 100%;
}
section {
    padding-top: 100px;
    margin-top: -100px;
}
.hyde {
    visibility: hidden;
}
.content > section > p {
    background-color: #f5f5f5;
    height: 570px;
}
#infobar {
    display: table;
    border-spacing: 5px;
}
.infobar_zero {
    margin: 0;
    padding: 2px;
}
#infobar i {
    position: absolute;
    top: 4px;
    right: 2px;
}
#infobar_content {
    display: table-row;
}
#infobar_content > div {
    display: table-cell;
}
#infobar_left {
    border: 1px solid rgb(227,227,227);
    border-radius: 4px;
    padding: 2px;
}
/* shamelessly ripped from css3please.com */
/*  ie's rotate macro thing before ie9 has an unescaped colon in it
    and it breaks my css */
.box-rotate {
    -moz-transform: rotate(-90deg);  /* ff3.5+ */
    -o-transform: rotate(-90deg);  /* opera 10.5 */
    -webkit-transform: rotate(-90deg);  /* safari 3.1+, chrome */
    -ms-transform: rotate(-90deg); /* ie9 */
    transform: rotate(-90deg); /* else */
}
/*  the box-rotate style breaks positioning
    and this kind of brings it back along with
    some ancillary styling of vertical elements */
.tab-pos {
    -webkit-transform-origin: 25% 217%; /* this is crazy! */
    -moz-transform-origin: 25% 217%; /* crazy, i tell you! */
    -o-transform-origin: 25% 217%;
    -ms-transform-origin: 25% 217%;
    transform-origin: 25% 217%;
    width: 120px;
    font-size: 12pt;
    padding: 10px;
    text-align: center;
}
.copper {
    background-color: #B87333;
}
.bronze {
    background-color: #CD7F32;
}
.silver {
    background-color: #C0C0C0;
}
.gold {
    background-color: #D4A017;
}
.platinum {
    background-color: #E5E4E2;
}
.select_package {
    cursor: pointer;
    cursor: hand;
}
.customize {
    cursor: pointer;
    cursor: hand;
}
.cancel_custom {
    cursor: pointer;
    cursor: hand;
}
.part_section {
    background-color: #2B3856;
    color: white;
}
.package_name {
    color:white;
    font: 16pt;
    font-weight: bold;
    text-align: center;
}
.currently_chosen {
    border: 5px dashed green;
}
.purchase_items {
    width: 140px;
}
#right_sidebar {
    position: fixed;
    padding-top: 60px;
    right: 0%;
    height: 100%;
}
#infobox {
    position: fixed;
    top: 0%;
}
ul {
    list-style-type: none;
}
.container {
    padding-top: 60px;
}
.page_section {
    padding-bottom: 60px;
}
.navbadge {
    padding: 8px;
    font-size: 20px;
}
.nav-list > .active > .complete {
    background-color: green;
}
.nav-list > .active > .incomplete {
    background-color: black;
}
.green_nav {
    color: green;
}
.complete {
    color: green;
}
.incomplete {
    color: black;
}
