<div class="third-party-addendum">

    <h2>Required Addition to Monitoring Agreement</h2>

    <p>
        As you may or may not know the City of Fontana now requires private, third party, on-site
        alarm verification of all home security burglar alarm activations BEFORE the Fontana
        Police Department will dispatch a unit to the location.  This requirement went into effect
        October 10, 2008. You are obligated to comply with this policy.
    </p>

    <p>
        Under the terms of the policy change, when a home security burglar alarm is activated, the
        monitoring station must first call a third-party, contracted, guard service to be
        dispatched to the alarm location. The guard service will be required to check the
        perimeter of the property, and look for signs of forced entry. If there are no signs of
        forced entry found, then the guard service will contact the monitoring station, and
        prepare a report. If signs of forced entry are found, the guard service will remain at the
        property and contact the monitoring station so that a Police unit can be dispatched to the
        location. This procedure does not apply to panic, robbery, duress, or other types of
        hold-up alarms. Police units will continue to respond to the panic types of alarms as
        usual.
    </p>

    <p>
        Protect America, Inc. has negotiated a special rate with a local verified response company
        for this required service. For this required service, FIVE DOLLARS ($5.00) per month will
        be added to the monitoring rate listed on your monitoring agreement. Any additional
        responses over two (2) on-site responses per year will be billed to you at FORTY-FIVE
        ($45.00) per response.
    </p>

    <p>
        Your Monitoring Agreement with Protect America, Inc. states:
    </p>

    <blockquote>
        Some municipalities require a third party, other than police or sheriff's department,
        to respond to alarm activations. It is the responsibility of the Customer to obtain
        third party response where required and pay for any costs associated with third party
        services.
    </blockquote>

    <p>
        I (We) understand that I (we) will be invoiced for any panic alarms that the City deems as
        false and a fine is charged to the alarm company.  The fine for a false alarm is $150.00.
    </p>

    <p>
        My (Our) signature(s) below attests that I (We) have received, read, and understood a copy
        of this <strong>REQUIRED ADDITION TO MONITORING AGREEMENT</strong>, that I (We) understand
        that the terms contained on this document will remain in effect throughout the term of My
        (Our) Monitoring Agreement, including any renewals thereof.
    </p>

</div>

<div class="clear"></div>
