<div class="third-party-addendum">

    <h2>Addendum to Monitoring Agreement</h2>

    <p>
        As you may or may not know, the Detroit Police Department requires private, third party,
        on-site alarm verification of all home security burglar alarm activations BEFORE the
        Detroit Police Department will dispatch a unit to the location.  You are obligated to
        comply with this policy.
    </p>

    <p>
        Under this policy, when a home security burglar alarm is activated, the monitoring station
        must first call a third-party, contracted, guard service to be dispatched to the alarm
        location. The guard service will be required to check the perimeter of the property, and
        look for signs of forced entry. If there are no signs of forced entry found, then the
        guard service will contact the monitoring station, and prepare a report. If signs of
        forced entry are found, or if the guard service observes an emergency condition, the guard
        service will remain at the property and contact the monitoring station so that a Police
        unit can be dispatched to the location. This procedure does not apply to panic, robbery,
        duress or other types of hold-up alarms. Police units will continue to respond to the
        panic types of alarms as usual.
    </p>

    <p>
        Protect America, Inc. has negotiated a special rate with a local verified response company
        for this required service. For this required service, FIVE DOLLARS ($5.00) per month will
        be added to the monitoring rate listed on your monitoring agreement. Any additional
        responses over one (1) on-site responses per year will be billed to you at FOURTY-FIVE
        ($45.00) per response. The alarm response company requires an additional $30.00 if their
        responder is needed to provide any service beyond the normal alarm response. You will be
        invoiced this fee for each occurrence.
    </p>

    <p>
        The fees stated in this Addendum are subject to change, and the local verified Response
        Company may charge fees for additional services. If the local verified Response Company
        increases its fees or charges additional fees, then you agree to pay such increase and/or
        additional fees upon written request from Protect America, Inc. You are responsible for
        all costs or fees imposed by the guard service or private response company.
    </p>

    <p><strong>
        PROTECT AMERICA SHALL HAVE NO LIABILITY WHATSOEVER FOR OR ARISING OUT OF THE GUARD SERVICE
        OR PRIVATE RESPONSE COMPANY OR FOR THE FAILURE TO COMPLY IN ANY WAY WITH THE STATUES OR
        ORDINANCES OF THE CITY OF DETROIT.
    </strong></p>

    <p>
        Your Monitoring Agreement with Protect America, Inc. states:
    </p>

    <blockquote>
        Some municipalities require a third party, other than police or sheriff's department,
        to respond to alarm activations. It is the responsibility of the Customer to obtain
        third party response where required and pay for any costs associated with third party
        services.
    </blockquote>

    <p>
        My (Our) signature(s) below attests that I (We) have received, read, and understood a copy
        of this <strong>ADDENDUM TO MONITORING AGREEMENT</strong>, that I (We) agree to the terms
        contained on this document and I (We) hereby agree to abide by its terms, and that I (We)
        acknowledge and agree that all remaining terms of the Monitoring Agreement remain in full
        force and effect.
    </p>

</div>

<div class="clear"></div>
