<div class="third-party-addendum">

  <h2>St. Louis, Missouri</h2>
  <h2>Electrical Permit / Alarm Permit Addendum</h2>

  <p>
    I/we the undersigned understand that the operations of any/all alarm systems are governed by
    the City of St. Louis Ordinances and according to these, both an electrical permit and an
    alarm permit are required to be obtained before the installation of an alarm system.  The
    total fee for a residential address is One Hundred and Ten Dollars (<strong>$110.00</strong>)
    and for a non-residential/commercial address is One Hundred and Thirty-Five Dollars
    (<strong>$135.00</strong>).
  </p>

  <p>
    I/we the undersigned understand and agree to submit an upfront payment of Eighty-Five Dollars
    (<strong>$85.00</strong>) to Protect America, Inc. for an Electrical Permit, which will be
    acquired by Protect America, Inc.  and issued by the City of St. Louis Electrical Department.
  </p>

  <p>
    I/we also understand that once the alarm system is installed, it is my/our, the Subscriber’s
    responsibility to call the St. Louis Electrical Department, (314) 622-3325, between the hours
    of 8:00 a.m. – 9:00a.m. Monday- Friday and schedule an appointment time for the inspection of
    the alarm system.  The alarm system SHALL be inspected within six (6) months of the date the
    electrical permit is issued.  It is a requirement per the City of St. Louis Electrical
    Department that the alarm system be inspected within six months.
  </p>

  <p>
    I/we the Subscriber will be issued an Alarm Permit Number after the Electrical Permit has been
    approved and issued. The St. Louis Alarm Registration and False Alarm Management (ARFAM)
    Services will issue the Alarm Permit Number.  I/we also understand that the police department
    will not be dispatched if an Alarm Permit Number for the alarm system installed is not issued
    or has been suspended due to non-payment of the yearly registration fee or any false alarm
    fines.
  </p>

  <p>
    I/We, the undersigned, per my/our agreement fully understand what protection this system will
    provide and the specific areas, openings and items it will protect. I/We will receive
    instructions on how to operate this system. I/We understand that I/we must register this alarm
    with the St.  Louis Alarm ARFAM Services; through Protect America, Inc; who will then assign
    me/us an "Alarm Permit Number" before I/we can operate this system, and that misuse, neglect
    or other conditions that result in false alarms will result in fines imposed against me/us by
    the City of St. Louis.  
  </p>

  <p>
    The cost of the Alarm Permit is Twenty-Five Dollars (<strong>$25.00</strong>) for residential
    addresses and Fifty Dollars (<strong>$50.00</strong>) for non-residential/commercial
    addresses.  The permit renews annually.  I/we the undersigned understand and agree to submit
    the Twenty-Five Dollars ($25.00) residential or the Fifty Dollars ($50.00)
    non-residential/commercial alarm permit fee upfront to Protect America, Inc. whom will
    register my/our alarm system with St. Louis ARFAM Services after the Electrical Permit has
    been issued.  I/we the undersigned also understand and agree to submit the annual alarm
    renewal fee when requested by Protect America, Inc. 
  </p>

  <p>
    I/we understand that if I/we move to another address within the City of St. Louis the
    Electrical and Alarm Permits will be invalid and a new electrical and alarm permit has to be
    applied for at a total cost of One Hundred and Ten Dollars (<strong>$110.00</strong>) for
    residential addresses and One Hundred and Thirty-Five Dollars (<strong>$135.00</strong>) for
    commercial addresses.
  </p>

  <p>
    The operations of any/all alarm systems are governed by the City of St. Louis Ordinances and
    violations of the provisions of these ordinances can result in a minimum fine of not less than
    Twenty-Five Dollars ($25.00) plus court costs and not more than Five Hundred Dollars ($500.00)
    plus court costs and/or 30 days imprisonment.
  </p>

  <p>
    <strong>
      *** Your account will be placed on log only and will remain on log only until we receive
      your completed Electrical Permit / Alarm Registration Information Form. ***
    </strong>
    This means in the event of an alarm, the monitoring company will not request police dispatch.  
  </p>
</div>

<div class="clear"></div>
