<div class="third-party-addendum">

    <h2>IMPORTANT INFORMATION REGARDING YOUR ALARM SYSTEM</h2>

    <p>
        <em>For alarm sites located within the municipal boundaries of the City 
        of Olympia, Olympia Municipal Code (OMC) Section 5.55.070 requires that 
        your alarm company provide you with this disclosure <span>before you sign 
        any contract</span> for installation or monitoring of a security alarm 
        system.</em>
    </p>

    <ol>
        <li>
            <p>OMC 16.46.050 specifies that police will respond to unmonitored and
            unregistered security alarm systems only if independent reporting
            indicates that a crime is either in progress or has been attempted at 
            your alarm site. <span>This means that, unless your alarm system is 
            monitored by an alarm company licensed by the City, it will require 
            a call to 9-1-1 from a neighbor, a security guard you have hired to
            respond to your alarm site, or someone else actually present at your
            alarm site verifying there is reason to believe a crime is in progress 
            or has been attempted at your alarm site before police will be 
            dispatched.</span> The law specifies that you are not to expect the 
            police to respond to your unmonitored security alarm simply because 
            a bell or siren goes off.</p>
        </li>
        <li>
            <p>When you purchase a private security alarm system or contract to have 
            a private security system monitored by a security alarm business 
            licensed by the City you are entering into a private contract with 
            that business only. Your security alarm purchase and/or monitoring
            contract is not a contract with the City of Olympia, its Police 
            Department or with any other law enforcement agency.</p>
        
            <p>To that end, you are advised of the following:</p>
        </li>
        <ol>
            <li>
                <p>Basic public police service entitles every citizen of the City 
                to verified response (i.e., the kind of response described in
                paragraph "I" above).</p>
            </li>
            <li>
                <p>Security alarms, alone, do not meet the standard of verification
                required for basic police service.</p>
            </li>
            <li>
                <p>The City of Olympia and its Police Department cooperate with the
                alarm industry and security alarm users by responding to unverified
                security alarms, provided you meet certain conditions. Those
                conditions are as follows:</p>
            </li>
            <ol>
                <li>
                    <p>You are responsible, annually, for registering your alarm 
                    system, paying the registration fee, and providing accurate,
                    current registration information.</p>
                </li>
                <li>
                    <p>You are responsible for using your alarm system properly and 
                    in accordance with the manufacturer's directions and the law.</p>
                </li>
                <li>
                    <p>You are responsible for keeping your alarm system properly
                    maintained and in good working order.</p>
                </li>
                <li>
                    <p>You are financially responsible for paying service fees when
                    police respond to false alarms from your alarm site. 
                    (See OMC 16.46.120)</p>
                </li>
            </ol>
            <li>
                <p>Your privilege of police alarm response can and will be suspended
                or revoked if you fail to register your system each year; if you
                have excessive false alarms; or if you fail to pay false alarm
                service fees, as required. (see OMC 16.46.150).</p>
            </li>
            <li>
                <p>You can be criminally liable for using your alarm system to 
                summon police when you know there is no need for emergency police
                service or when you have the option of using 9-1-1 reporting. 
                (See OMC 16.46.100)</p>
            </li>
        </ol>
    </ol>
    
    <p>
        I, THE ALARM USER, HAVE READ AND UNDERSTAND THE ABOVE INFORMATION.
    </p>
    
</div>
<div class="clear"></div>