<div class="third-party-addendum">

    <h2>Required Addition to Monitoring Agreement</h2>

    <p>
        As you may or may not know, the City of Tacoma requires an annual alarm device license
        (permit) for each alarm system and also charges fines for false alarms.  According to the
        Monitoring Agreement Section 3.1 the customer is required to obtain any necessary
        permit(s) and it is the customer's sole responsibility, to obtain, pay for, and maintain
        all necessary permit(s); also according to Section 8.3 all fines, penalties or charges for
        false alarms or signals shall be the sole responsibility of customer to pay.  
    </p>

    <p>
        Because the City of Tacoma will invoice Protect America, Inc. the fees for the annual
        alarm device license (permit) plus any false alarms, <strong>SIX DOLLARS</strong> ($6.00)
        per month will be added to the monitoring rate listed on your monitoring agreement.
    </p>

    <p>
        This additional monthly fee will cover the yearly alarm device license (permit) and any
        false alarms assessed.
    </p>

    <p>
        My (Our) signature(s) below attests that I (We) have received, read, and understood a copy
        of this <strong>REQUIRED ADDITION TO MONITORING AGREEMENT</strong>, that I (We) understand
        that the terms contained on this document will remain in effect throughout the term of My
        (Our) Monitoring Agreement, including any renewals thereof.
    </p>

</div>

<div class="clear"></div>
