<div class="third-party-addendum">

    <h2>LOS ANGELES POLICE DISPATCH AREA</h2>

    <p>
        The Burglar Alarm Ordinance Became Effective on November 8, 2004
        City of Los Angeles Burglar Alarm Policy and Ordinance quick facts:
    </p>

    <ol>
        <li>
            <p>Every alarm user within the City of Los Angeles' police dispatch area
            is required to have a valid police alarm permit, which can be applied for
            by mail or <a href="http://finance.lacity.org/finC1.htm">online</a>,
            or by calling the Los Angeles Police Commission Alarms Section at (213)
            996-1200. The cost of the permit is $34.00 with an annual renewal fee of
            $30.00. The alarm user is required to provide the alarm company with their
            permit number and any updated emergency contact information.</p>
        </li>
        <li>
            <p>The LAPD will respond to two unverified alarm calls per 12-month period.
            An unverified alarm call is when the alarm user, or a neighbor, or
            designated person has not independently verified that a security breech has
            occurred. Upon the third alarm call to LAPD Communications, verification
            will be required before a patrol unit is dispatched.</p>
        </li>
        <li>
            <p>If the LAPD responds to an alarm call and it is deemed to be false, and
            the alarm user has an alarm permit, the fine is $149 for the first offense
            and an additional $50 will be added for each call thereafter within a
            12-month period. For example, the first offense is $149, the second offense
            is $199, the third offense is $249, the fourth offense is $299, etc.</p>
        </li>
        <li>
            <p>If the LAPD responds to an alarm call and it is deemed to be false, and
            the alarm user <strong>does not</strong> have an alarm permit, the fine is
            $149 for the first offense along with a $100 penalty. The penalty then
            grows by $100 for each false alarm call thereafter. For example, the first
            offense is $249, the second offense is $349, the third offense is $449, the
            fourth offense is $549, etc.</p>
        </li>
        <li>
            <p>A false alarm offense, and the fines attached to that offense, may be
            removed from an alarm user's record each 12 months by attending the Police
            Commission's "Alarm School."</p>
        </li>
    </ol>

    <p>
        A seven-day familiarization period is required by the city. This seven-day
        period begins the day of install. During this period no dispatch requests will
        be made.
    </p>

    <p>
        By my signature below, I agree, I have been fully informed of the above Alarm
        Policy and Ordinance. I understand that as the alarm user I shall test my alarm
        monthly, and shall apply for and shall maintain a valid alarm permit at all
        times. I understand that if any fines should occur; I shall accept full
        financial responsibility as set forth above.
    </p>

</div>
<div class="clear"></div>