<div class="third-party-addendum">

    <h2>Burglar Alarm Registration for Palm Beach County</h2>

    <p>
        Per the Palm Beach County Ordinance Sec. 16-54, "It shall be a violation
        of this article to operate an alarm system without a valid alarm permit".
    </p>

    <p>
        There is a non-refundable registration fee of $25.00. Registrations are
        renewed on an annual basis at a cost of $25.00.
    </p>

    <p>
        With an alarm permit you will receive two free false alarms within a
        calendar year, each subsequent alarm will start at $50.00 and will
        increase in increment of $25.00 thereafter.
    </p>

    <p>
        <strong>I, the alarm user, understand that I will receive a Palm Beach
        County Burglar Alarm Permit application with my system.</strong>
    </p>

    <p>
        <strong>I, the alarm user, understand that my account will be on
        non-dispatch/log-only until I provide Protect America, Inc. proof that I
        have registered my alarm system. This means in the event of an alarm, the
        monitoring company will not request police dispatch.</strong>
    </p>

</div>
<div class="clear"></div>