{% extends "base.html" %}

{% block content %}
<div class="container top-container">
    {% for ag in ag_summary %}
        <h2>Agreement ID: {{ ag.id }}</h2>
        <table class="table table-condensed">
            <tr>
                <td><strong>Agreement Status:</strong></td>
                <td>{{ ag.status }}</td>
            </tr>
            <tr>
                <td><strong>Owned By:</strong></td>
                <td><a href="#" rel="tooltip" data-toggle="tooltip" data-placement="right" title="Click here to takeover agreement">Ryan Wellman</a></td>
            </tr>
            <tr>
                <td><strong>Organization:</strong></td>
                <td>{{ ag.campaign__organization__name }}</td>
            </tr>
            <tr>
                <td><strong>Date Updated:</strong></td>
                <td>{{ ag.date_updated|date }}</td>
            </tr>
            <tr>
                <td><strong>Applicant:</strong></td>
                <td>{{ ag.applicant_id__first_name }} {{ ag.applicant_id__last_name }}</td>
            </tr>
            {% if ag.coapplicant_id__last_name %}
            <tr>
                <td><strong>Coapplicant:</strong></td>
                <td>{{ ag.coapplicant_id__first_name }} {{ ag.coapplicant_id__last_name }}</td>
            </tr>
            {% endif %}
            <tr>
                <td><strong>Credit Status:</strong></td>
                <td>
                    {% if ag.credit_status == 'REVIEW' or ag.credit_status == 'NO HIT' %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#creditModal">{{ ag.credit_status }}</button>
                    {% else %}
                        {{ ag.credit_status }}
                    {% endif %}
                </td>
            </tr>
        </table>
        <div class="modal fade" id="creditModal" tabindex="-1" role="dialog" aria-labelledby="creditModalLabel" aria-hidden="true">
            <div class="modal-header">
                <h3 id="creditModalLabel">Review Credit</h3>
            </div>
            <div class="modal-body">
                <h4>Applicant: {{ ag.applicant_id__first_name }} {{ ag.applicant_id__last_name }}</h4>
                <table>
                    <tr>
                        <td>Beacon:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Interconnect ID:</td>
                        <td></td>
                    </tr>
                </table>
                {% if ag.coapplicant_id__last_name %}
                <h4>Coapplicant: {{ ag.coapplicant_id__first_name }} {{ ag.coapplicant_id__last_name }}</h4>
                <table>
                    <tr>
                        <td>Beacon:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Interconnect ID:</td>
                        <td></td>
                    </tr>
                </table>
                {% endif %}
                <div>&nbsp;</div>
                <form id="credit_review" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="agreement_id" value="{{ag.id}}">
                    <button class="btn btn-success credit-btn" name="approve_credit">APPROVE</button>
                    <button class="btn btn-danger credit-btn" name="decline_credit">DECLINE</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    {% endfor %}
    <h3>Agreement Details</h3>
</div>

{% endblock %}

<script type="text/javascript">
    $(function() {
        $('#creditModal').modal();
    });
</script>
