{% extends "base.html" %}

{% block title %} Bypass Upfront Authorization {% endblock %}

{% block content %}
<div class="container top-container">
    <h2>Bypass Upfront Authorization</h2>
</div>
<div class="container-fluid">
    <table class="table table-bordered table-condensed">
        <thead class="table-back">
            <th><center>ID</center></th>
            <th><center>DATE</center></th>
            <th><center>NAME</center></th>
            <th><center>ORGANIZATION</center></th>
            <th><center>ACTIONS</center></th>
        </thead>
        <tbody class="table-bypass">
            {% for p in published %}
            <form id="bypass" method="POST">
            {% csrf_token %}
                <input type="hidden" name="agreement_id" value="{{p.id}}"
                <tr>
                    <td><center>{{p.id}}</center></td>
                    <td><center>{{p.date_updated|date}}</center></td>
                    <td><center>{{p.applicant_id__first_name}} {{p.applicant_id__last_name}}</center></td>
                    <td><center>{{p.campaign__organization__name}}</center></td>
                    <td><center><button class="btn btn-success bypass-btn">BYPASS</center></button>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
