<!DOCTYPE html>
<html>
    <head>
        <title>Test Form</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="/static/trashboard.css" rel="stylesheet">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script type="text/javascript">
            {% block javascript_variables_nocompress %}
                window.PACKAGES = {{packages|safe}};
                window.PARTS = {{parts|safe}};
                window.PREMIUM = {{premiums|safe}};
                window.COMBOS = {{combos|safe}};
                window.AID = {{agreement_id|safe}};
            {% endblock %}
        </script>
{% include 'templates/initial_info.html' %}
{% include 'templates/customer_info.html' %}
{% include 'templates/customize.html' %}
{% include 'templates/combos.html' %}
{% include 'templates/packages.html' %}
{% include 'templates/monitoring.html' %}
{% include 'templates/premium_add_ons.html' %}
{% include 'templates/publish.html' %}
{% include 'templates/closing.html' %}
{% include 'templates/promos.html' %}
{% include 'templates/review.html' %}
{% include 'templates/services.html' %}
{% include 'templates/shipping.html' %}
    </head>
    <body>
        <!-- z-index on the next line fixes buttons visible over the infobar -->
        <!--
        <div class="affix" style="top:40px;right:0px;z-index:1000">
            <div id="infobar" class="well">
                <i id="infobar_resize" class="icon-resize-small"></i>
                <div id="infobar_content">
                    <div id="infobar_left">
                        <span data-bind="css: {muted: name().length == 0}, text: name() ? name : 'First M. Last'"></span><br>
                        <span data-bind="css: {muted: billing_address.address().length == 0}, text: billing_address.address() ? billing_address.address : 'Billing Address'"></span><br>
                        <span data-bind="css: {muted: citystate().length == 0}, text: citystate() ? citystate : 'City, State'"></span><br>
                        <span data-bind="css: {muted: billing_address.zip().length == 0}, text: billing_address.zip() ? billing_address.zip : 'ZIP'"></span><br>
                        <span data-bind="css: {muted: countrysafe().length == 0}, text: billing_address.country() ? billing_address.country : 'Country'"></span><br>
                    </div>
                    <div id="infobar_middle">
                        <p>
                            <span class="label label-default">$Invoice</span><br>
                            <span class="label label-important">Chargeback</span><br>
                            <span class="label label-info">Combos</span><br>
                            <span class="label label-warning">Promotions</span><br>
                            <span class="label label-success">Rate Drops</span><br>
                        </p>
                    </div>
                    <div id="infobar_right">
                        <p>
                            <span data-bind="text: agreement_id_nav" class="label label-default">Agreement ID</span><br>
                            <span data-bind="text: package_nav" class="label label-important">Package</span><br>
                            <span data-bind="text: monitoring_nav" class="label label-info">Monitoring</span><br>
                            <span data-bind="text: shipping_nav" class="label label-warning">Shipping</span><br>
                            <span class="label label-success">$RMR</span><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="affix" style="top:40px;left:0px;z-index:1000">
            <!-- this is intentionally left blank for future expansion -->
        </div>
        <div class="well" id="right_sidebar" data-target="right_sidebar">
            <ul class="nav nav-list">
                <li id="nav_initial_info"><a data-bind="css: { 'complete': initial_complete(), 'incomplete': !initial_complete() }" href="#initial_info">Initial Info</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_pkgsel"><a data-bind="css: { 'complete': package.complete(), 'incomplete': !package.complete() }" href="#pkgsel">Package</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_monitor"><a data-bind="css: { 'complete': monitoring(), 'incomplete': !monitoring() }" href="#monitor">Monitoring</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_premium"><a data-bind="css: { 'complete': premium.done(), 'incomplete': !premium.done() }" href="#premium">Premium</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_combos"><a data-bind="css: { 'complete': combo.done(), 'incomplete': !combo.done() }" href="#combos">Combos</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_custom"><a data-bind="css: { 'complete': customize.complete(), 'incomplete': !customize.complete() }" href="#custom">Custom</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_services"><a class="green_nav complete" href="#services">Services</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_promos"><a class="green_nav complete" href="#promos">Promos</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_cinfo"><a class="green_nav" href="#cinfo">Customer Info</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_shipping"><a data-bind="css: { 'complete': shipping(), 'incomplete': !shipping() }" href="#shipping">Shipping</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_closing"><a data-bind="css: { 'complete': closing.done(), 'incomplete': !closing.done() }" href="#closing">Closing</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_review"><a class="green_nav" href="#review">Review</a></li>
                <li class="divider"></li>
                <li class="hyde" id="nav_publish"><a class="green_nav" href="#publish">Publish</a></li>
            </ul>
        </div>
        <div class="container">
            <!--
            <div class="navbar navbar-fixed-top" id="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li id="nav_cinfo"><a href="#cinfo">Customer Info</a></li>
                        <li class="hyde" id="nav_pkgsel"><a href="#pkgsel">Package</a></li>
                        <li class="hyde" id="nav_monitor"><a href="#monitor">Monitoring</a></li>
                        <li class="hyde" id="nav_premium"><a href="#premium">Premium</a></li>
                        <li class="hyde" id="nav_combos"><a href="#combos">Combos</a></li>
                        <li class="hyde" id="nav_custom"><a href="#custom">Customize</a></li>
                        <li class="hyde" id="nav_services"><a href="#services">Services</a></li>
                        <li class="hyde" id="nav_promos"><a href="#promos">Promos</a></li>
                        <li class="hyde" id="nav_shipping"><a href="#shipping">Shipping</a></li>
                        <li class="hyde" id="nav_closing"><a href="#closing">Closing</a></li>
                        <li class="hyde" id="nav_review"><a href="#review">Review</a></li>
                        <li class="hyde" id="nav_publish"><a href="#publish">Publish</a></li>
                    </ul>
                </div>
            </div>
            -->
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <ul>
                        <li class="span2">
                            <b>Customer Info:</b><br>
                            <span data-bind="css: {muted: name().length == 0}, text: name() ? name : 'First M. Last'"></span><br>
                            <span data-bind="css: {muted: billing_address.address().length == 0}, text: billing_address.address() ? billing_address.address : 'Billing Address'"></span><br>
                            <span data-bind="css: {muted: citystate().length == 0}, text: citystate() ? citystate : 'City, State'"></span>
                            <span data-bind="css: {muted: billing_address.zip().length == 0}, text: billing_address.zip() ? billing_address.zip : 'ZIP'"></span>
                        </li>
                        <li class="span1.5">
                            <b>Package:</b><br>
                            <h4><span data-bind="text: package_nav"></span></h4>
                        </li>
                        <li class="span1.5">
                            <b>Monthly Cost:</b><br>
                            <center><h4>$0.00</h4></center>
                        </li>
                        <li class="span1.5">
                            <b>Upfront Cost:</b><br>
                            <center><h4>$0.00</h4></center>
                        </li>
                        <li class="span1.5">
                            <b>Chargeback:</b><br>
                            <!-- ko if: chargeback_nav() >= 0 -->
                            <center><span data-bind="text: chargeback_nav" class="navbadge badge badge-success"></span></center>
                            <!-- /ko -->
                            <!-- ko if: chargeback_nav() < 0 -->
                            <center><span data-bind="text: chargeback_nav" class="navbadge badge badge-important"></span></center>
                            <!-- /ko -->
                        </li>
                        <li class="span2.5">
                            <b>Agreement ID:</b> <span data-bind="text: agreement_id_nav"></span><br>
                            <b>Monitoring:</b> <span data-bind="text: monitoring_nav"></span><br>
                            <b>Promotions:</b> promotions
                        </li>
                        <li class="span2.5">
                            <b>Combos:</b> combos<br>
                            <b>Shipping:</b> <span data-bind="text: shipping_nav"</span><br>
                            <b>Rate Drops:</b> rate drops<br>
                        </li>
                        <li class="span2">
                            <b>Approval Status:</b><br>
                            <span class="btn btn-large btn-info"><i class="icon-time icon-white"></i> Pending</span>
                        </li>
                        <li class="span2 pull-right">
                            <b>Logged in as:</b><br>
                            <i class="icon-user"></i> {{ user }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <section id="initial_info">
                    <div data-bind="template: { name: 'initial_info', data: $data }">Initial Info Form</div>
                </section>
                <section id="pkgsel" class="hyde">
                    <div data-bind="template: { name: 'packages', data: $data }">Package Select Form</div>
                </section>
                <section id="monitor" class="hyde">
                    <div data-bind="template: { name: 'monitor_', data: $data }">Monitoring Form</div>
                </section>
                <section id="premium" class="hyde">
                    <div data-bind="template: { name: 'premiums', data: $data }">Premium Form</div>
                </section>
                <section id="combos" class="hyde">
                    <div data-bind="template: { name: 'combos_', data: $data }">Combo Select Form</div>
                </section>
                <section id="custom" class="hyde">
                    <div data-bind="template: { name: 'customize_', data: $data }">Customize Form</div>
                    </section>
                <section id="services" class="hyde">
                    <div data-bind="template: { name: 'services_', data: $data }">Services Form</div>
                </section>
                <section id="promos" class="hyde">
                    <div data-bind="template: { name: 'promos_', data: $data }">Promo Form</p>
                </section>
                <section id="cinfo" class="hyde">
                    <div data-bind="template: { name: 'customer_info', data: $data }">Customer Info Form</div>
                </section>
                <section id="shipping" class="hyde">
                    <div data-bind="template: { name: 'shipping_', data: $data }">Shipping Form</div>
                </section>
                <section id="closing" class="hyde">
                    <div data-bind="template: { name: 'closing_', data: $data }">Closing Form</p>
                </section>
                <section id="review" class="hyde">
                    <div data-bind="template: { name: 'review_', data: $data }">Review Form</div>
                </section>
                <section id="publish" class="hyde">
                    <div data-bind="template: { name: 'publish_', data: $data }">Publish Form</div>
                </section>
                <section id="scroller" class="hyde">
                     <!-- this scroll buffer makes sure publish is at the top of the page when the scroll is all the way at the bottom -->
                    <p>&nbsp;</p>
                </section>
            </div>
        </div>
        <script src="/static/trashboard.js"></script>
    </body>
</html>
