{% extends "base.html" %}

{% block javascript_nocompress %}

<script type="text/javascript" src="{% static 'js/trashboard/utils.js' %}"></script>

<script type="text/javascript">
    window.PRODUCTS = loads('{{products_json|escapejs}}');
    window.PRICES = loads('{{pricelist_json|escapejs}}');
    window.agreement_id = {{agreement_id}};

    /*window.PACKAGES = {{packages|safe}};
    window.PARTS = {{parts|safe}};
    window.PREMIUM = {{premiums|safe}};
    window.COMBOS = {{combos|safe}};
    window.SERVICES = {{services|safe}};
    window.CLOSERS = {{closers|safe}};
    window.INCENTIVES = {{incentives|safe}};
    window.MONITORS = {{monitors|safe}};
    window.SHIPPERS = {{shippers|safe}};
    */
</script>

<script type="text/javascript" src="{% static 'js/trashboard/master_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard.js' %}"></script>


<script type="text/javascript" src="{% static 'js/trashboard/address_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/agreement_endpoint.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/alacarte_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/applicant_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/base_section_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/closing_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/combo_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/constants.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/creditdecision_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/initial_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/shipping_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/monitoring_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/navbar_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/package_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/review_vm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trashboard/uas.js' %}"></script>

{% endblock %}


{% block content %}
<div id="master_vm">
<div class="left_sidebar">
    <!-- this is intentionally left blank for future expansion -->
</div>
<div class="well" id="right_sidebar" data-target="right_sidebar">
    <ul class="nav nav-list">
        <!-- ko foreach: {data:_.values($data.vms), as: 'vm'} -->
            <li data-bind="
               attr: {
                   id: vm.name+'_id'
               },
               css: {
                   'complete': vm.is_completed(),
                   'incomplete': !vm.is_completed()
               },
               template: {
                    name: vm.nav_template_name(),
                    data:vm,
               } "></li>
        <!-- /ko -->

    </ul>
</div>
<div class="container">
    <div data-bind="template: {name: 'navbar', data: $data.navbar, as: 'vm'}"></div>
    <div class="content">
        <!-- ko foreach: {data:_.values($data.vms), as: 'vm'} -->
            <section data-bind="
               attr: {
                   id: vm.name+'_id'
               },
               css: vm.get_css_classes(),
               'template': {
                    name: vm.template_name(),
                    data:vm,
               } "></section>
        <!-- /ko -->

    </div>
</div>
</div>
{% endblock %}
