{% extends "credit_base.html" %}

{% block content %}
<div class="container top-container">
    <div>
        <h2>Credit Review</h2>
    </div>
    <!--
    <div class="row">
        <div class="well filter-well span11">
            <h3>Filter Agreements</h3>
            <form class="form-inline">
                <input type="text" class="span9" />
                <button class="btn btn-primary filter-btn">Filter</button>
            </form>
            <div>
                STATUS:
                <span class="badge status">APPROVED</span>
                <span class="badge badge-success status">REVIEW</span>
                <span class="badge status">DECLINED</span>
            </div>
            <div>
                DATE:
                <span class="badge badge-success date-badge">TODAY</span>
                <span class="badge date-badge">WTD</span>
                <span class="badge date-badge">MTD</span>
                <span class="badge date-badge">ALL</span>
                <span class="badge date-badge">CUSTOM</span>
            </div>
        </div>
    </div>
    -->

    <div class="container-fluid">
        <form id="agreement_search" class="form-inline" method="GET">
            <div class="well">
                <strong>Search by Agreement ID:</strong>
                <input type="text" class="input-large" name="agreement_id" placeholder="Agreement ID" />
            </div>
        </form>
        <table class="table table-condensed">
        {% for p in pending_credit %}
            <tr class="table-credit">
                <td colspan="2">Agreement ID: {{ p.agreement_id }}</td>
                <form id="credit_review" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="agreement_id" value="{{p.agreement_id}}">
                    <td colspan="2"><center>
                            <button class="btn btn-success credit-btn" name="approve_credit">APPROVE</button>
                            <button class="btn btn-danger credit-btn" name="decline_credit">DECLINE</button>
                    </center></td>
                </form>
            </tr>
            <tr>
                <td><strong>Organization:</strong> {{ p.organization_name }}</td>
                <td><strong>Date:</strong> {{ p.date_updated|date }}</td>
                <td colspan="2"><strong>Status:</strong> {{ p.credit_status }}</td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Name</strong></td>
                <td><strong>Beacon</strong></td>
                <td><strong>Interconnect ID</strong></td>
            </tr>
            <tr>
                <td><strong>Applicant</strong></td>
                <td>{{ p.applicant_first_name }} {{ p.applicant_last_name }}</td>
                <td>{{ p.applicant_beacon }}</td>
                <td>{{ p.applicant_transaction_id }}</td>
            </tr>
            {% if p.coapplicant_first_name %}
            <tr>
                <td><strong>Coapplicant</strong></td>
                <td>{{ p.coapplicant_first_name }} {{ p.coapplicant_last_name }}</td>
                <td>{{ p.coapplicant_beacon }}</td>
                <td>{{ p.coapplicant_transaction_id }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>
    <!--
    <h4>Test #1</h4>
    <div class="container-fluid">
        <table class="table table-bordered table-condensed">
        {% for p in pending_credit %}
            <tr>
                <td colspan="4" class="table-header">Agreement ID: {{ p.agreement_id }}</td>
            </tr>
            <tr>
                <td><strong>Organization:</strong> {{ p.organization_name }}</td>
                <td><strong>Date:</strong> {{ p.date_updated|date }}</td>
                <td colspan="2"><strong>Status:</strong> {{ p.credit_status }}</td>
            </tr>
            <tr>
                <td><strong>Type</strong></td>
                <td><strong>Name</strong></td>
                <td><strong>Beacon</strong></td>
                <td><strong>Interconnect ID</strong></td>
            </tr>
            <tr>
                <td><strong>Applicant</strong></td>
                <td>{{ p.applicant_first_name }} {{ p.applicant_last_name }}</td>
                <td>{{ p.applicant_beacon }}</td>
                <td>{{ p.applicant_transaction_id }}</td>
            </tr>
            {% if p.coapplicant_first_name %}
            <tr>
                <td><strong>Coapplicant</strong></td>
                <td>{{ p.coapplicant_first_name }} {{ p.coapplicant_last_name }}</td>
                <td>{{ p.coapplicant_beacon }}</td>
                <td>{{ p.coapplicant_transaction_id }}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="4"><center>
                    <button class="btn btn-success credit-btn" name="approve_credit">APPROVE</button>
                    <button class="btn btn-danger credit-btn" name="decline_credit">DECLINE</button>
                </center></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    -->
</div>
{% endblock %}
