{% extends "credit_base.html" %}

{% block content %}
<div class="container top-container">
    <div>
        <h2>Credit Reviewing</h2>
    </div>
    <!--
    <div class="row">
        <div class="well filter-well span11">
            <h3>Filter Agreements</h3>
            <form class="form-inline">
                <input type="text" class="span9" />
                <button class="btn btn-primary filter-btn">Filter</button>
            </form>
            <div>
                STATUS:
                <span class="badge status">APPROVED</span>
                <span class="badge badge-success status">REVIEW</span>
                <span class="badge status">DECLINED</span>
            </div>
            <div>
                DATE:
                <span class="badge badge-success date-badge">TODAY</span>
                <span class="badge date-badge">WTD</span>
                <span class="badge date-badge">MTD</span>
                <span class="badge date-badge">ALL</span>
                <span class="badge date-badge">CUSTOM</span>
            </div>
        </div>
    </div>
    -->
</div>
<div class="container-fluid">
    <table class="table table-bordered table-condensed">
        <thead class="table-back">
            <th><center>ID</center></th>
            <th><center>DATE</center></th>
            <th><center>NAME</center></th>
            <th><center>INTERCONNECT ID</center></th>
            <th><center>BEACON</center></th>
            <th><center>ORGANIZATION</center></th>
            <th><center>ACTIONS</center></th>
        </thead>
        <tbody>
            <tr>
                <td><center>1490660</center></td>
                <td><center>2014-03-10</center></td>
                <td><center>BRADY m MATHEWS</center></td>
                <td><center>10000059007306</center></td>
                <td><center>EFX ?</center></td>
                <td><center>Protect America</center></td>
                <td><center>
                    <button class="btn btn-success credit-btn">APPROVE</button>
                    <button class="btn btn-danger credit-btn">DECLINE</button>
                </center></td>
            </tr>
        </tbody>
        <tfoot class="table-back">
            <tr>
                <td colspan="8">back to top</td>
            </tr>
        </tfoot>
    </table>
</div>
{% for p in pending_credit %}
    {{p}}
{% endfor %}
<div class="container-fluid">
    <table class="table table-bordered table-condensed">
        <thead class="table-back">
            <th><center>ID</center></th>
            <th><center>DATE</center></th>
            <th><center>NAME</center></th>
            <th><center>INTERCONNECT ID</center></th>
            <th><center>BEACON</center></th>
            <th><center>ORGANIZATION</center></th>
            <th><center>ACTIONS</center></th>
        </thead>
        <tbody>
            {% for p in pending_credit %}
            <form id="credit_review" method="POST">
                <input type="hidden" name="agreement_id" value="{{p.id}}">
            {% csrf_token %}
            <tr>
                <td><center>{{p.id}}</center></td>
                <td><center>{{p.date_updated|date}}</center></td>
                <td><center>{{p.applicant_id__first_name}} {{p.applicant_id__last_name}}</center></td>
                <td><center></center></td>
                <td><center></center></td>
                <td><center></center></td>
                <td><center>
                        <button class="btn btn-success credit-btn" name="approve_credit">APPROVE</button>
                        <button class="btn btn-danger credit-btn" name="decline_credit">DECLINE</button>
                </center></td>
            </tr>
            </form>
            {% endfor %}
        </tbody>
        <tfoot class="table-back">
            <tr>
                <td colspan="8">back to top</td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
