		<script type="text/html" id="customer_info">
			<div class="well">
				<span class="label label-inverse box-rotate tab-pos">Customer Info</span>
				<form id="cinfo_form">
					<fieldset>
						<div class="controls controls-row">
							<!-- <legend>Customer Info</legend> -->
							<div class="span4">
								<div class="control-group">
									<label class="control-label">First Name:</label>
									<div class="controls">
										<input type="text" placeholder="First" data-bind="value: applicant.fname">
									</div>
									<span class="help-inline"></span>
								</div>
								<div class="control-group">
									<label class="control-label">Middle Initial:</label>
									<div class="controls">
										<input type="text" placeholder="M" maxlength="1" data-bind="value: applicant.initial">
									</div>
									<span class="help-inline"></span>
								</div>
								<div class="control-group">
									<label class="control-label">Last Name:</label>
									<div class="controls">
										<input type="text" placeholder="Last" data-bind="value: applicant.lname">
									</div>
									<span class="help-inline"></span>
								</div>

								<div class="control-group">
									<label class="control-label">Address:</label>
									<div class="controls">
										<input type="text" placeholder="Address" data-bind="value: billing_address.address">
									</div>
									<span class="help-inline"></span>
								</div>
								<div class="control-group">
									<label class="control-label">City:</label>
									<div class="controls">
										<input type="text" placeholder="City" data-bind="value: billing_address.city">
									</div>
									<span class="help-inline"></span>
								</div>
							</div>
							<div class="span3">
								<div class="control-group">
									<label class="control-label">State:</label>
									<div class="controls">
										<select data-bind="options: states, optionsCaption: 'Please select...', value: billing_address.state"></select>
									</div>
									<span class="help-inline"></span>
								</div>
								<div class="control-group">
									<label class="control-label">ZIP:</label>
									<div class="controls">
										<input type="text" placeholder="ZIP" data-bind="value: master_zipcode()">
									</div>
									<span class="help-inline"></span>
								</div>
								<div class="control-group">
									<label class="control-label">Country:</label>
									<div class="controls">
										<select data-bind="options: countries, optionsCaption: 'Please select...', value: billing_address.country"></select>
									</div>
									<span class="help-inline"></span>
								</div>
								<div class="control-group">
									<label class="control-label">SSN or Tax ID:</label>
									<div class="controls">
										<input type="text" placeholder="SSN or Tax ID">
									</div>
									<span class="help-inline"></span>
								</div>
								<div class="control-group">
									<label class="control-label">E-mail Address:</label>
									<div class="controls">
										<input type="text" placeholder="E-mail" data-bind="value: email">
									</div>
									<span class="help-inline"></span>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="pull-right">
								<button type="submit" class="btn btn-primary" id="cinfo_submit"><i class="icon-arrow-down icon-white"></i> Next</button>
								<button class="btn" type="reset">Clear</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</script>
