<!DOCTYPE html>
<html>
	<head>
		<title>Dynamic Loading Test</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
		<script type="text/html" id="tpl1">
			<form id="frm1">
				<fieldset>
					<button type="submit" class="btn" id="btn1">Load next piece...</button>
				</fieldset>
			</form>
		</script>
		<script type="text/html" id="tpl2">
			<form id="frm2">
				<fieldset>
					<button type="submit" class="btn" id="btn2">Load another piece...</button>
				</fieldset>
			</form>
		</script>
		<script type="text/html" id="tpl3">
			<form id="frm3">
				<fieldset>
					<button type="submit" class="btn btn-primary" id="btn3">End it</button>
				</fieldset>
			</form>
		</script>
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">dynamic load test</a>
				<ul class="nav">
					<li><a href="#">step one</a></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="content">
				<section id="sxn1">
					<div id="one" data-bind="template: { name: 'tpl1' }">1</p>
				</section>
				<section id="sxn2">
					<div id="two"></div>
				</section>
				<section id="sxn3">
					<div id="three"></div>
				</section>
				<section id="sxn4">
					<div id="console">Click the buttons to load forms.</div>
				</section>
				<section id="sxn5">
					<hr class="soften">
					<p>JSON Trace:</p>
					<pre id="blobview"></pre>
				</section>
			</div>
		</div>
		<script type="text/javascript">
			// KNOCKOUT TEMPLATES

			// initialize view models
			// blob is the actual view model here and is passed from
			// function to function
			function TestVM1(blob) {
				// make blob a thing if it isn't
				blob = blob || {};

				// declare things that should be visible to templates
				this.dat = blob;
				this.loadfn = function() {
					$("#blobview").empty().append(JSON.stringify(blob, null, 4));
					ko.applyBindings(blob, $('#sxn1')[0]);

					$('#frm1').on("submit", function(e) {
						// prevent form from submitting
						e.preventDefault();

						var result = $.ajax({
							type: "POST",
							url: "/test",
							data: { csrfmiddlewaretoken: "{{ csrf_token }}", state: "inactive" },
							success: function() { console.log("step one"); }
						});

						result.done(function(data) {
							blob.one = 'complete';
							var vm2 = new TestVM2(blob);
							vm2.loadfn();
						});
					});
				}
			}

			function TestVM2(blob) {
				// make blob a thing if it isn't
				blob = blob || {};

				// declare things that should be visible to templates
				this.dat = blob;
				this.loadfn = function() {
					$("#blobview").empty().append(JSON.stringify(blob, null, 4));
					$("#btn1").prop('disabled', true);
					$(".nav").append("<li><a href='#'>step two</a></li>");
					$("#two").attr("data-bind", "template: { name: 'tpl2' }");
					ko.applyBindings(blob, $('#sxn2')[0]);

					$('#frm2').on("submit", function(e) {
						// prevent form from submitting
						e.preventDefault();

						var result = $.ajax({
							type: "POST",
							url: "/test",
							data: { csrfmiddlewaretoken: "{{ csrf_token }}", state: "inactive" },
							success: function() { console.log("step two"); }
						});

						result.done(function(data) {
							blob.two = 'complete';
							var vm3 = new TestVM3(blob);
							vm3.loadfn();
						});
					});		
				}
			}

			function TestVM3(blob) {
				// make blob a thing if it isn't
				blob = blob || {};

				// declare things that should be visible to templates
				this.dat = blob;
				this.loadfn = function() {
					$("#blobview").empty().append(JSON.stringify(blob, null, 4));
					$("#btn2").prop('disabled', true);
					$(".nav").append("<li><a href='#'>step three</a></li>");
					$("#three").attr("data-bind", "template: { name: 'tpl3' }");
					ko.applyBindings(blob, $('#sxn3')[0]);

					$('#frm3').on("submit", function(e) {
						// prevent form from submitting
						e.preventDefault();

						var result = $.ajax({
							type: "POST",
							url: "/test",
							data: { csrfmiddlewaretoken: "{{ csrf_token }}", state: "inactive" },
							success: function() { console.log("step three"); }
						});

						result.done(function(data) {
							blob.three = 'complete';
							var vm4 = new TestVM4(blob)
							vm4.loadfn();
						});
					});
				}
			}

			function TestVM4(blob) {
				// make blob a thing if it isn't
				blob = blob || {};

				// declare things that should be visible to templates
				this.dat = blob;
				this.loadfn = function() {
					$("#blobview").empty().append(JSON.stringify(blob, null, 4));
					$("#btn3").prop('disabled', true);
					$(".nav").append("<li><a href='#'>finish!</a></li>");
					$("#console").empty().append("We're done! <a href='javascript:window.location.reload()'>Reload</a> to try again.");
				}
			}

			// JQUERY DOM MANIPS

			// jquery wrapper to anonymous function
			$(function() {
				var blob = {};

				var result = $.ajax({
					dataType: "json",
					url: '/json',
					async: false, // asynchronous load means empty blob
					success: function() { console.log("loaded json"); }
				});

				result.done(function(data) {
					$.each(data, function(k, v) {
						blob[k] = v;
					});
				});

				var vm1 = new TestVM1(blob);
				vm1.loadfn();
			});
		</script>
	</body>
</html>