{% extends "credit_base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container top-container">
    <h2>Recent Changes</h2>
    <h3>March 12, 2014</h3>
        <p>
            &mdash; The Denver Broncos acquired Demarcus Ware from free agency<br/>
        </p>
    <h3>March 11, 2014</h3>
        <p>
            &mdash; The Denver Broncos acquired TJ Ward from the Cleveland Browns<br/>
            &mdash; The Denver Broncos acquired Aqib Talib from the New England Patriots<br/>
        </p>
</div>
{% endblock %}
