{% include 'knockout_templates/navbar.html' %}


{% include 'knockout_templates/default_nav_template.html' %}
{% include 'knockout_templates/applicant_vm.html' with vm_id='applicant' %}
{% include 'knockout_templates/credit_vm.html' with vm_id='credit' %}
{% include 'knockout_templates/address_vm.html' with vm_id='system_address' %}
{% include 'knockout_templates/monitoring_vm.html' with vm_id='monitoring' %}
{% include 'knockout_templates/package_vm.html' with vm_id='package' %}
{% include 'knockout_templates/alacarte_vm.html' with vm_id='alacarte' %}
{% include 'knockout_templates/combo_vm.html' with vm_id='combo' %}
{% include 'knockout_templates/closing_vm.html' with vm_id='closing' %}
{% include 'knockout_templates/shipping_vm.html' with vm_id='shipping' %}
{% include 'knockout_templates/review_vm.html' with vm_id='review' %}


{% include 'knockout_templates/basic_cart_mutex.html' %}