{% include 'knockout_templates/initial_info.html' %}
{% include 'knockout_templates/customer_info.html' %}
{% include 'knockout_templates/alacarte.html' %}
{% include 'knockout_templates/combos.html' %}
{% include 'knockout_templates/packages.html' %}
{% include 'knockout_templates/monitoring.html' %}
{% include 'knockout_templates/premium_add_ons.html' %}
{% include 'knockout_templates/publish.html' %}
{% include 'knockout_templates/closing.html' %}
{% include 'knockout_templates/promos.html' %}
{% include 'knockout_templates/review.html' %}
{% include 'knockout_templates/services.html' %}
{% include 'knockout_templates/shipping.html' %}
{% include 'knockout_templates/navbar.html' %}


{% include 'knockout_templates/default_nav_template.html' %}
{% include 'knockout_templates/applicant_vm.html' %}
