{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <p>
        <label for="org_code">Org Code</label>
        <input type="text" name="org_code" value="{{org_code}}" />
    </p>
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" value="{{username}}" />
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password"/>
    </p>
    <p>
        <button type="submit">Login</button>
    </p>

</form>
{% endblock %}