<html>
<head>
    <style type="text/css">
        .Copper {
            background-color: #B87333;
        }
        .Bronze {
            background-color: #CD7F32;
        }
        .Silver {
            background-color: #C0C0C0;
        }
        .Gold {
            background-color: #D4A017;
        }
        .Platinum {
            background-color: #E5E4E2;
        }
        .select_package {
            cursor: pointer;
            cursor: hand;
        }
        .customize {
            cursor: pointer;
            cursor: hand;
        }
        .cancel_custom {
            cursor: pointer;
            cursor: hand;
        }
        .part_section {
            background-color: #2B3856;
            color: white;
        }
        .package_name {
            color:white;
            font: 16pt;
            font-weight: bold;
            text-align: center;
        }
        .currently_chosen {
            border: 5px dashed green;
        }
    </style>
</head>

<body>
    <div class="container">
        <h3>Select Package</h3>
        <div class="row" data-bind="foreach:KOPACKAGES">
            <div class="select_package span2 " data-bind="css: $parent.select_package_classes($data), click: $parent.select_package">
                    <div class="package_name row">
                        <div class="span2">
                            <span data-bind="text: $data.name"></span>
                            Package
                        </div>
                    </div>

                    <div class="package_contents row">
                        <div class="span2">
                            <ul data-bind="foreach: $data.contents">
                                <li>

                                    <span data-bind="text: $data.part.name"></span>
                                    x<span data-bind="text: $data.quantity"></span>
                                </li>
                            </ul>

                        </div>
                    </div>
            </div>
        </div>
        <!-- Table to display the original contents of the package -->
        <div class="row" data-bind="visible: selected_package() && !customizing() && !changed_contents()">
            <br />
            <button class="btn btn-success" data-bind="click: customize">Customize</button>
            <button class="btn btn-primary" data-bind="click: save_package">Save Package</button>
            <br />
            <table class="table" id="package_contents">
                <thead>
                    <tr>
                        <th>Part #</th><th>Description</th><th>Quantity</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: selected_package_contents()">
                        <tr>
                            <td data-bind="text: $data.code"></td>
                            <td data-bind="text: $data.part.name"></td>
                            <td data-bind="text: $data.quantity"></td>

                        </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="span2" data-bind="visible: selected_package()">
                    <!-- ko if: cb_balance() >= 0 -->
                        <font color="green"><h4>CB Balance: <span data-bind="text: cb_balance()"></span></h4></font>
                    <!-- /ko -->
                    <!-- ko if: cb_balance() < 0 -->
                        <font color="red"><h4>CB Balance: <span data-bind="text: cb_balance()"></span></h4></font>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- Table to display when the package is customized -->
        <div class="row" data-bind="visible: changed_contents()">
            <br />
            <button class="btn btn-success" data-bind="click: customize">Customize</button>
            <button class="btn btn-primary" data-bind="click: save_package">Save Package</button>
            <br />
            <table class="table" id="package_contents">
                <thead>
                    <tr>
                        <th>Part #</th><th>Description</th><th>Quantity</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: updated_contents">
                        <tr>
                            <td data-bind="text: code"></td>
                            <td data-bind="text: part.name"></td>
                            <td data-bind="text: quantity"></td>
                        </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="span2" data-bind="visible: changed_contents()">
                    <!-- ko if: cb_balance() >= 0 -->
                        <font color="green"><h4>CB Balance: <span data-bind="text: cb_balance()"></span></h4></font>
                    <!-- /ko -->
                    <!-- ko if: cb_balance() < 0 -->
                        <font color="red"><h4>CB Balance: <span data-bind="text: cb_balance()"></span></h4></font>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="row"  data-bind="visible: selected_package() && customizing()">
            <div class="row">
                <div class="span2" data-bind="visible: selected_package()">
                    <!-- ko if: cb_balance() >= 0 -->
                        <font color="green"><h4>CB Balance: <span data-bind="text: cb_balance()"></span></h4></font>
                    <!-- /ko -->
                    <!-- ko if: cb_balance() < 0 -->
                        <font color="red"><h4>CB Balance: <span data-bind="text: cb_balance()"></span></h4></font>
                    <!-- /ko -->
                </div>
            </div>
            <table class="package_customization table">
                <thead>
                    <tr>
                        <th>Part #</th><th>Description</th><th><center>CB</center></th><th><center>Minimum Quantity Included</center></th><th>Quantity</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: customization_lines">
                    <tr>
                        <td data-bind="text: $data.code"></td>
                        <td data-bind="text: $data.part.name"></td>
                        <td><center><span data-bind="text: $data.part.points" class="badge badge-mini badge-success" style="width:22px; text-align:center;"</span></center></td>
                        <td data-bind="text: $data.min_quantity" style="text-align:center;"></td>
                        <td><input class="input-mini" type="text" data-bind="value: $data.quantity" style="text-align:center;" /></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" data-bind="click:save_customization">Save Customization</button>
            <button class="btn" data-bind="click:cancel_customization">Cancel Customization</button>
        </div>
    </div>

    <br />
    <pre data-bind="text: ko.toJSON($root, null, 2)"></pre>


<script type="text/javascript">
    {% block javascript_variables_nocompress %}
        window.KOPACKAGES = {{json_ko_packages|safe}};
        window.KOPARTS = {{json_ko_parts|safe}};
        window.KOCATEGORIES = {{json_ko_categories|safe}};
    {% endblock %}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script type="text/javascript">

    window.package_index = _.object(_.pluck(window.KOPACKAGES, 'code'), window.KOPACKAGES);
    window.part_index = _.object(_.pluck(window.KOPARTS, 'code'), window.KOPARTS);

    _.each(window.KOPACKAGES, function(package) {
        _.each(package.contents, function(line) {
            line.part = window.part_index[line.code];
        });
    });

    PackageSettings = function() {
        var self = this;
        self.selected_package = ko.observable(null);
        self.customizing = ko.observable(false);
        self.custom_quantities = {};
        self.cb_balance = ko.observable(0);
        self.data_to_send = {};
        self.updated_contents = ko.observableArray();
        self.changed_contents = ko.observable();

        self.customization_lines = ko.observableArray();

        self.select_package = function(package) {

            self.selected_package(package);
            self.custom_quantities = {};
            self.customization_lines.removeAll();
            // clear out any updated contents when selected package changes
            self.updated_contents([]);
            self.changed_contents(false);

            if(!self.customization_lines().length) {
                _.map(KOPARTS, function(part) {
                    var cline= {
                        code: part.code,
                        part: part,
                        quantity: ko.observable(0),
                        min_quantity: ko.observable(0),
                    };
                    cline.quantity.subscribe(self.cust_quantity_changed);
                    //console.log("Pushing new cline ", cline);
                    self.customization_lines.push(cline);

                    cline.quantity.subscribe(self.cust_quantity_changed);
                });
            }

            if(package) {
                // For each line of stuff that comes in the package normally,
                _.each(self.selected_package().contents, function(line) {
                    // Find the customization line for that product
                    var cline = _.find(self.customization_lines(), function(cline) {
                        return cline.code == line.code;
                    });
                    // Set that customization line's quantity and min quantity appropriately.
                    if(cline) {
                        //console.log("Found matching cline, ", line.quantity);
                        cline.quantity(line.quantity);
                        //TODO: Set min quantity
                    } else {
                        //console.log("!Found matching cline", cline);
                    }
                });
            }
        };

        self.customize = function () {
            self.customizing(true);
        };

        self.cust_quantity_changed = function() {
            self.customization_deltas = [];
            var balance = 0;

            package_by_part = _.object(_.pluck(self.selected_package().contents, 'code'), self.selected_package().contents);
            clines_by_part = _.object(_.pluck(self.customization_lines(), 'code'), self.customization_lines());
            console.log(clines_by_part);

            _.each(clines_by_part, function(cline,code) {
                var pline = package_by_part[code];
                var pq = 0;
                if (pline) {
                    pq = pline.quantity;
                }

                var delta = cline.quantity() - pq;
                if(delta == 0)
                    return;

                //console.log("I think that the cline for part ", code, " has ", cline.quantity(), "and the pline has ", pq);

                self.customization_deltas.push({
                    code: code,
                    delta: delta,
                });
            });
            console.log("deltas", self.customization_deltas);

            self.data_to_send['package'] = self.selected_package().code;
            self.data_to_send['customizations'] = self.customization_deltas;
            console.log("data", self.data_to_send);

            for (var i=0; i<self.customization_deltas.length; i++) {
                balance += -1 * (self.customization_deltas[i].delta * clines_by_part[self.customization_deltas[i].code].part.points);
            }
            self.cb_balance(balance);
        };

        self.selected_package_contents = function() {
            if(!self.selected_package()) {
                return [];
            }
            return self.selected_package().contents;
        }

        self.select_package_classes = function(param) {
            var classes = param.code;
            if(param === self.selected_package()) {
                classes += ' currently_chosen';
            }
            return classes;
        };

        self.save_package = function() {
            alert("Could now send this to server: " + JSON.stringify(self.data_to_send));
        };

        self.save_customization = function () {
            self.customized_parts = [];
            for (var i=0; i<self.customization_lines().length; i++) {
                if (self.customization_lines()[i].quantity() > 0) {
                    self.c_parts = {};
                    self.c_parts['code'] = self.customization_lines()[i].code;
                    self.c_parts['quantity'] = self.customization_lines()[i].quantity();
                    self.c_parts['part'] = self.customization_lines()[i].part;
                    self.customized_parts.push(self.c_parts);
                    //self.selected_package.subscribe();
                    //self.selected_package().contents.push(self.c_parts);
                    self.updated_contents.push(self.c_parts);
                }
            }
            self.changed_contents(true);
            self.customizing(false);
        };

        self.cancel_customization = function() {
            self.customizing(false);
        };

        self.select_package(null);
    };

    $(function() {
        VM_select_package = new PackageSettings();
        ko.applyBindings(VM_select_package);
    });
    </script>

</body>
</html>


