<html>
<head>
    <style type="text/css">
        .Copper {
            background-color: #B87333;
        }
        .Bronze {
            background-color: #CD7F32;
        }
        .Silver {
            background-color: #C0C0C0;
        }
        .Gold {
            background-color: #D4A017;
        }
        .Platinum {
            background-color: #E5E4E2;
        }
        .package {
            color: white;
        }
        .select_package {
            cursor: pointer;
            cursor: hand;
        }
        .package_features {
            border:2px solid;
            border-color: #B6B6B4;
        }
        .purchase_items {
            border:2px solid;
            border-color: #B6B6B4;
        }
        .customize {
            cursor: pointer;
            cursor: hand;
        }
        .cancel_custom {
            cursor: pointer;
            cursor: hand;
        }
        .expand_equip{
            cursor: pointer;
            cursor: hand;
        }
        .part_section {
            background-color: #2B3856;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        <h3>Select Package</h3>
        <div class="row">
            {% for p in packages %}
            <div class="select_package" data-package="{{p.name}}">
                <div class="{{p.name}} span2">
                    <a><table class="table package">
                        <th>{{p.name}} Package</th>
                    </table></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>&nbsp;</div>
        {% for p in packages %}
        <div class="show_package" id="{{p.name}}" hidden="hidden">
            <div class="row">
                <div class="span1"></div>
                <div class="span3">
                    <h4>{{p.name}} Package - {{p.price}}</h4>
                </div>
            </div>
            <div data-bind="foreach: package_options">
                <!-- ko if: pckg() === "{{p.name}}" -->
                <div class="row">
                    <div class="span1"></div>
                    <div class="pckg_detail span8">
                        <table class="table table-condensed">
                            <thead>
                                <th>Part</th>
                                <th><center>Part Points</center></th>
                                <th><center>Locked</center></th>
                                <th><center>Quantity</center></th>
                                <th><center>Total Points</center></th>
                            </thead>
                            <tbody data-bind="foreach: pckg_parts">
                                <tr>
                                    <td data-bind="text: part"></td>
                                    <td data-bind="text: points" style="text-align:center;"></td>
                                    <td><center><i class="fa fa-lock"></i></center></td>
                                    <td data-bind="text: qty" style="text-align:center;"></td>
                                    <td data-bind="text: total_part_points" style="text-align:center;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span8">
                        <h4>
                            Total Points: <span data-bind="text: $root.PackagePoints(pckg_parts())"></span>
                            <!--<a class="customize pull-right">Customize</a>-->
                            <a data-bind="attr: {'data-package': pckg(), 'class': 'customize pull-right', 'click': '$.customize' }">Customize</a>
                        </h4>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        {% endfor %}
        <div class="cust_pckg" hidden="hidden">
            <div data-bind="foreach: part_list">
                <div class="row">
                    <div class="span1"></div>
                    <div class="span8">
                        <table class="table table-condensed" width="100%">
                        <tr class="part_section">
                            <td width="40%"><strong><span data-bind="text: ctgy"></span></strong></td>
                            <td width="15%"></td>
                            <td width="15%"><center>Locked</center></td>
                            <td width="15%"><center>Quantity</center></td>
                            <td width="15%"><center>Total</center></td>
                        </tr>
                        <tbody data-bind="foreach: parts">
                            <tr>
                                <td data-bind="text: part"></td>
                                <td><span data-bind="text: points" class="badge badge-mini badge-success" style="width: 22px; text-align: center;"></span></td>
                                <td><center><i class="fa fa-lock"></i></center></td>
                                <td><center><input class="input-mini" data-bind="value: qty" style="text-align:center;"></center></td>
                                <td data-bind="text: qty" style="text-align:center;"></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span1"></div>
            <div class="span8">
                <h4><a class="save_custom pull-right" hidden="hidden">Save Customization</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="span1"></div>
            <div class="span8">
                <h4><a class="cancel_custom pull-right" hidden="hidden">Cancel Customization</a></h4>
            </div>
        </div>
        <div>&nbsp;</div>
    </div>
    <div>&nbsp;</div>


<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>


<script type="text/javascript">
    {% block javascript_variables_nocompress %}
        window.KOPACKAGES = {{json_ko_packages|safe}};
        window.KOPARTS = {{json_ko_parts|safe}};
    {% endblock %}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
<script type="text/javascript">
    $(function () {
        var package_data = {}
            , selected_package
            , default_parts;

        $('.select_package').on('click', function(evt) {
            evt.preventDefault();
            var $this = $(this);
            selected_package = $this.data('package');
            console.log(selected_package);
            default_parts = '';
            for(pkg in window.KOPACKAGES){
                if(window.KOPACKAGES[pkg]['pckg'] == selected_package){
                    default_parts = window.KOPACKAGES[pkg]['parts'];
                }
            }
            $('.show_package').hide();
            $('#' + selected_package).slideToggle("slow");
            package_data["package"] = selected_package
            cp.setPackageParts(default_parts)
        });

        $('.cancel_custom').on('click', function(evt) {
            $('.cust_pckg').slideToggle("slow");
            $('.pckg_detail').slideToggle("slow");
            $('.customize').slideToggle("slow");
        });

        var CustomizePackage = function(pckg) {
            var self = this;
            var pckg = pckg;

            self.package_options = ko.observableArray(ko.utils.arrayMap(window.KOPACKAGES, function(kopckg) {
                return {pckg: ko.observable(kopckg.pckg),
                        pckg_parts: ko.observableArray(ko.utils.arrayMap(kopckg.parts, function(part) {
                            return {
                                part: ko.observable(part.part),
                                points: ko.observable(part.points),
                                qty: ko.observable(part.qty),
                                total_part_points: ko.computed(function() {
                                    return (part.points * part.qty);
                                }),
                            }
                        }))
                }
            }));

            self.part_list = ko.observableArray(ko.utils.arrayMap(window.KOPARTS, function(kopart) {
                return {ctgy: ko.observable(kopart.ctgy),
                        parts: ko.observableArray(ko.utils.arrayMap(kopart.parts, function(part) {
                            return_values = {
                                part: part.part,
                                points: part.points,
                                qty: part.qty,
                                total_qty: part.qty
                            }
                            return return_values
                        }))
                }
            }));

            /*
            self.setPackageParts = function(default_parts){
                var package_parts = self.part_list();
                for(part in package_parts){
                    console.log(package_parts[part]['parts'])
                    for(p in package_parts[part]['parts']){
                        for(_p in default_parts){
                            if(default_parts[_p]['part'] == package_parts[part]['parts'][p]['part']){
                                package_parts[part]['parts'][p].qty = (package_parts[part]['parts'][p].qty != 0) ? package_parts[part]['parts'][p].qty : default_parts[_p]['qty'];
                            }
                        }
                    }
                }
            }
            */

            self.PackagePoints = function (pack) {
                var ttl = 0;
                for (var i=0; i<pack.length; i++) {
                    ttl += pack[i].total_part_points();
                }
                return ttl;
            }

            $('.customize').on('click', function(evt) {
                evt.preventDefault();
                var $this = $(this);
                $this.hide();
                var pckg = $this.data('package');
                //PackageOptions(pckg);
                $('.pckg_detail').slideToggle("slow");
                $('.cust_pckg').slideToggle("slow");
                $('.save_custom').slideToggle("slow");
                $('.cancel_custom').slideToggle("slow");
            });
        };

        cp = new CustomizePackage();
        ko.applyBindings(cp);
    });
    </script>

</body>
</html>


