<html>
    <head>
        <style type="text/css">
            .Copper {
                background-color: #B87333;
            }
            .Bronze {
                background-color: #CD7F32;
            }
            .Silver {
                background-color: #C0C0C0;
            }
            .Gold {
                background-color: #D4A017;
            }
            .Platinum {
                background-color: #E5E4E2;
            }
            .package {
                color: white;
            }
            .select_package {
                cursor: pointer;
                cursor: hand;
            }
            .package_features {
                border:2px solid;
                border-color: #B6B6B4;
            }
            .purchase_items {
                border:2px solid;
                border-color: #B6B6B4;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <h3>Select Package</h3>
            <div class="row">
                {% for p in packages %}
                <div class="select_package" data-package="{{p.name}}">
                    <div class="{{p.name}} span2">
                        <a href="#{{p.name}}_tab"><table class="table package">
                            <th>{{p.name}} Package</th>
                        </table></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div>&nbsp;</div>
            {% for p in packages %}
                <div class="show_package" id="{{p.name}}" hidden="hidden">
                    <div class="row">
                        <div class="span1"></div>
                        <div class="span3">
                            <h4>{{p.name}} Package - {{p.price}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span1"></div>
                        <div class="pckg_detail span8" data-detail="{{p.name}}detail" id="{{p.name}}detail">
                            <table class="table table-condensed">
                                <thead>
                                    <th>Part</th>
                                    <th><center>Part Points</center></th>
                                    <th><center>Locked</center></th>
                                    <th><center>Quantity</center></th>
                                    <th><center>Total Points</center></th>
                                </thead>
                                <tbody data-bind="foreach: {{p.name}}_opts">
                                    <tr>
                                        <td data-bind="text: part"></td>
                                        <td data-bind="text: points" style="text-align:center;"></td>
                                        <td><center><i class="fa fa-lock"></i></center></td>
                                        <td data-bind="text: qty" style="text-align:center;"></td>
                                        <td data-bind="text: total_points" style="text-align:center;"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>
                                Total Points:
                                <a class="customize pull-right">Customize</a>
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="cust_pckg" hidden="hidden">
                <div class="row">
                    <div class="span1"></div>
                    <div class="span3">
                        <h4>Customize Package</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="well span8" style="padding: 3px;">
                        <h4>
                            Security Sensors
                            <a class="expand_equip pull-right" id="expandsecsens" data-equip="secsens">Expand</a>
                            <a class="hide_equip pull-right" id="hidesecsens" data-equip="secsens" hidden="hidden">Hide</a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span8" id="secsens" hidden="hidden">
                        <table class="table table-condensed">
                            <thead>
                                <th>Part</th>
                                <th></th>
                                <th><center>Locked</center></th>
                                <th><center>Quantity</center></th>
                                <th><center>Total</center></th>
                            </thead>
                            <tbody data-bind="foreach: sec_sensors">
                                <tr>
                                    <td data-bind="text: part"></td>
                                    <td data-bind="text: points" class="badge badge-mini badge-success" style="text-align:center;"></td>
                                    <td><center><i class="fa fa-lock"></i></center></td>
                                    <td><center><input class="input-mini" data-bind="value: qty, event: {blur: $root.UpdatePart}" data-part="text: part" style="text-align:center;"></center></td>
                                    <td data-bind="text: total_qty" style="text-align:center;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="well span8" style="padding: 3px;">
                        <h4>
                            Accessories
                            <a class="expand_equip pull-right" id="expandaccessories" data-equip="accessories">Expand</a>
                            <a class="hide_equip pull-right" id="hideaccessories" data-equip="accessories" hidden="hidden">Hide</a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span8" id="accessories" hidden="hidden">
                        <table class="table table-condensed">
                            <thead>
                                <th>Part</th>
                                <th></th>
                                <th><center>Locked</center></th>
                                <th><center>Quantity</center></th>
                                <th><center>Total</center></th>
                            </thead>
                            <tbody data-bind="foreach: accessories">
                                <tr>
                                    <td data-bind="text: part"></td>
                                    <td data-bind="text: points" class="badge badge-mini badge-success" style="text-align:center;"></td>
                                    <td><center><i class="fa fa-lock"></i></center></td>
                                    <td><center><input class="input-mini" data-bind="value: qty" style="text-align:center;"></center></td>
                                    <td data-bind="text: total_qty" style="text-align:center;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="well span8" style="padding: 3px;">
                        <h4>
                            Fire Sensors
                            <a class="expand_equip pull-right" id="expandfiresens" data-equip="firesens">Expand</a>
                            <a class="hide_equip pull-right" id="hidefiresens" data-equip="firesens" hidden="hidden">Hide</a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span8" id="firesens" hidden="hidden">
                        <table class="table table-condensed">
                            <thead>
                                <th>Part</th>
                                <th></th>
                                <th><center>Locked</center></th>
                                <th><center>Quantity</center></th>
                                <th><center>Total</center></th>
                            </thead>
                            <tbody data-bind="foreach: fire_sensors">
                                <tr>
                                    <td data-bind="text: part"></td>
                                    <td data-bind="text: points" class="badge badge-mini badge-success" style="text-align:center;"></td>
                                    <td><center><i class="fa fa-lock"></i></center></td>
                                    <td><center><input class="input-mini" data-bind="value: qty" style="text-align:center;"></center></td>
                                    <td data-bind="text: total_qty" style="text-align:center;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="well span8" style="padding: 3px;">
                        <h4>
                            Home Automation
                            <a class="expand_equip pull-right" id="expandhomeauto" data-equip="homeauto">Expand</a>
                            <a class="hide_equip pull-right" id="hidehomeauto" data-equip="homeauto" hidden="hidden">Hide</a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span8" id="homeauto" hidden="hidden">
                        <table class="table table-condensed">
                            <thead>
                                <th>Part</th>
                                <th></th>
                                <th><center>Locked</center></th>
                                <th><center>Quantity</center></th>
                                <th><center>Total</center></th>
                            </thead>
                            <tbody data-bind="foreach: home_automation">
                                <tr>
                                    <td data-bind="text: part"></td>
                                    <td data-bind="text: points" class="badge badge-mini badge-success" style="text-align:center;"></td>
                                    <td><center><i class="fa fa-lock"></i></center></td>
                                    <td><center><input class="input-mini" data-bind="value: qty" style="text-align:center;"></center></td>
                                    <td data-bind="text: total_qty" style="text-align:center;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="well span8" style="padding: 3px;">
                        <h4>
                            Security Panels
                            <a class="expand_equip pull-right" id="expandsecpanels" data-equip="secpanels">Expand</a>
                            <a class="hide_equip pull-right" id="hidesecpanels" data-equip="secpanels" hidden="hidden">Hide</a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span8" id="secpanels" hidden="hidden">
                        <table class="table table-condensed">
                            <thead>
                                <th>Part</th>
                                <th></th>
                                <th><center>Locked</center></th>
                                <th><center>Quantity</center></th>
                                <th><center>Total</center></th>
                            </thead>
                            <tbody data-bind="foreach: security_panels">
                                <tr>
                                    <td data-bind="text: part"></td>
                                    <td data-bind="text: points" class="badge badge-mini badge-success" style="text-align:center;"></td>
                                    <td><center><i class="fa fa-lock"></i></center></td>
                                    <td><center><input class="input-mini" data-bind="value: qty" style="text-align:center;"></center></td>
                                    <td data-bind="text: total_qty" style="text-align:center;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span8">
                        <h4><a class="save_customization pull-right">Save Customization</a></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="span1"></div>
                    <div class="span8">
                        <h4><a class="cancel_customization pull-right">Cancel Customization</a></h4>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>

        <div>&nbsp;</div>


    <pre data-bind="text: ko.toJSON($root, null, 2)"></pre>


    <script type="text/javascript">
        {% block javascript_variables_nocompress %}
            window.PACKAGES = {{json_packages|safe}};
            window.COPPER = {{json_copper|safe}};
            window.BRONZE = {{json_bronze|safe}};
            window.SILVER = {{json_silver|safe}};
            window.GOLD = {{json_gold|safe}};
            window.PLATINUM = {{json_platinum|safe}};
            window.SECSENSORS = {{json_security_sensors|safe}};
            window.ACCESSORIES = {{json_accessories|safe}};
            window.FIRESENSORS = {{json_fire_sensors|safe}};
            window.HOMEAUTOM = {{json_home_automation|safe}};
            window.SECPANELS = {{json_security_panels|safe}};
            window.KOPACKAGES = {{json_ko_packages|safe}};
            window.KOPARTS = {{json_ko_parts|safe}};
        {% endblock %}
    </script>
    {% block javascript_nocompress %}

    {% endblock %}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
    <script type="text/javascript">
        $(function () {
            var package_data = {};

            $('.select_package').on('click', function(evt) {
                evt.preventDefault();
                var $this = $(this);
                var pack = $this.data('package');
                $('.show_package').hide();
                $('#' + pack).slideToggle("slow");
                package_data["package"] = pack
                console.log(package_data);
                GetPackage(pack);
            });

            $('.customize').on('click', function(evt) {
                evt.preventDefault();
                var $this = $(this);
                $this.hide();
                var detail = $this.data('detail');
                $('.pckg_detail').slideToggle("slow");
                $('.cust_pckg').slideToggle("slow");
            });

            $('.cancel_customization').on('click', function(evt) {
                $('.cust_pckg').slideToggle("slow");
                $('.pckg_detail').slideToggle("slow");
                $('.customize').slideToggle("slow");
            });

            $('.add_purchase').on('click', function(evt) {
                $('.cust_pckg').slideToggle("slow");
                $('.customize').slideToggle("slow");
            });

            $('.expand_equip').on('click', function(evt) {
                var $this = $(this);
                var sec = $this.data('equip');
                $this.hide();
                $('#' + sec).slideToggle("slow");
                $('#hide' + sec).slideToggle("slow");
            });

            $('.hide_equip').on('click', function(evt) {
                var $this = $(this);
                var sec = $this.data('equip');
                $this.hide();
                $('#' + sec).slideToggle("slow");
                $('#expand' + sec).slideToggle("slow");
            });

            $('.checkbox').on('change', function(evt) {
                var $this = $(this);
            });

            function Equip(part, points, qty) {
                this.part = ko.observable(part);
                this.points = ko.observable(points);
                this.qty = ko.observable(qty);
                this.total_points = ko.computed(function() {
                    return (this.qty() * this.points());
                }, this);
                this.total_qty = ko.computed(function() {
                    return (this.qty());
                }, this);
            }

            function GetPackage(pack) {
                console.log("In get package");
                console.log(pack);
                console.log(pack.toUpperCase());
                var cur_package = pack.toUpperCase();
                var options = window.cur_package;
                console.log(options);
            }

            $('.update_part').on('blur', function(evt) {
                evt.preventDefault();
                var $this = $(this);
                part = $this.data('part');
                console.log("we're in update part");
                console.log(part);
            });


            function UpdatePackage(part) {
                console.log("we're in UpdatePackage");
            }

            var viewModel = {
                Copper_opts: ko.observableArray([]),
                Bronze_opts: ko.observableArray([]),
                Silver_opts: ko.observableArray([]),
                Gold_opts: ko.observableArray([]),
                Platinum_opts: ko.observableArray([]),
                sec_sensors: ko.observableArray([]),
                accessories: ko.observableArray([]),
                fire_sensors: ko.observableArray([]),
                home_automation: ko.observableArray([]),
                security_panels: ko.observableArray([]),
                UpdatePart: function() {
                    console.log("found UpdatePart");
                }
            }

            var copper_info = window.COPPER;
            var bronze_info = window.BRONZE;
            var silver_info = window.SILVER;
            var gold_info = window.GOLD;
            var platinum_info = window.PLATINUM;
            var sec_sensors_info = window.SECSENSORS;
            var accessories_info = window.ACCESSORIES;
            var fire_sensors_info = window.FIRESENSORS;
            var home_automation_info = window.HOMEAUTOM;
            var security_panels_info = window.SECPANELS;

            var copper = ko.utils.arrayMap(copper_info, function(item) {
                return new Equip(item.part, item.points, item.qty);
            });

            var bronze = ko.utils.arrayMap(bronze_info, function(item) {
                return new Equip(item.part, item.points, item.qty);
            });

            var silver = ko.utils.arrayMap(silver_info, function(item) {
                return new Equip(item.part, item.points, item.qty);
            });

            var gold = ko.utils.arrayMap(gold_info, function(item) {
                return new Equip(item.part, item.points, item.qty);
            });

            var platinum = ko.utils.arrayMap(platinum_info, function(item) {
                return new Equip(item.part, item.points, item.qty);
            });

            var sec_sens = ko.utils.arrayMap(sec_sensors_info, function(item) {
                return new Equip(item.part, item.points, item.qty);
            });

            var accs = ko.utils.arrayMap(accessories_info, function(item) {
                return new Equip(item.part, item.points, item.qty);
            });

            var fire_sens = ko.utils.arrayMap(fire_sensors_info, function(item) {
                return new Equip(item.part, item.points, item.qty);
            });

            var home_auto = ko.utils.arrayMap(home_automation_info, function(item) {
                return new Equip(item.part, item.points, item.qty);
            });

            var sec_pnls = ko.utils.arrayMap(security_panels_info, function(item) {
                return new Equip(item.part, item.points, item.qty);
            });

            viewModel.Copper_opts(copper);
            viewModel.Bronze_opts(bronze);
            viewModel.Silver_opts(silver);
            viewModel.Gold_opts(gold);
            viewModel.Platinum_opts(platinum);
            viewModel.sec_sensors(sec_sens);
            viewModel.accessories(accs);
            viewModel.fire_sensors(fire_sens);
            viewModel.home_automation(home_auto);
            viewModel.security_panels(sec_pnls);

            ko.applyBindings(viewModel);
        });
        </script>

    </body>
</html>


