<html>
<head>
    <style type="text/css">
        .Copper {
            background-color: #B87333;
        }
        .Bronze {
            background-color: #CD7F32;
        }
        .Silver {
            background-color: #C0C0C0;
        }
        .Gold {
            background-color: #D4A017;
        }
        .Platinum {
            background-color: #E5E4E2;
        }
        .package {
            color: white;
        }
        .select_package {
            cursor: pointer;
            cursor: hand;
        }
        .customize {
            cursor: pointer;
            cursor: hand;
        }
        .cancel_custom {
            cursor: pointer;
            cursor: hand;
        }
        .part_section {
            background-color: #2B3856;
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        <h3>Select Package</h3>
        <div class="row">
            {% for p in packages %}
            <div class="select_package" data-package="{{p.name}}">
                <div class="{{p.name}} span2">
                    <a><table class="table package">
                        <th>{{p.name}} Package</th>
                    </table></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>&nbsp;</div>
        {% for p in packages %}
        <div class="show_package" id="{{p.name}}" hidden="hidden">
            <div class="row">
                <div class="span1"></div>
                <div class="span3">
                    <h4>{{p.name}} Package - {{p.price}}</h4>
                </div>
            </div>
        </div>
        {% endfor %}


<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>


<script type="text/javascript">
    {% block javascript_variables_nocompress %}
        window.KOPACKAGES = {{json_ko_packages|safe}};
        window.KOPARTS = {{json_ko_parts|safe}};
        window.KOCATEGORIES = {{json_ko_categories|safe}};
    {% endblock %}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script type="text/javascript">
    $(function () {
        var package_data = {}
            , selected_package
            , default_parts;

        $('.select_package').on('click', function(evt) {
            evt.preventDefault();
            var $this = $(this);
            selected_package = $this.data('package');
            console.log(selected_package);
            default_parts = '';
            for(pkg in window.KOPACKAGES){
                if(window.KOPACKAGES[pkg]['pckg'] == selected_package){
                    default_parts = window.KOPACKAGES[pkg]['parts'];
                }
            }
            $('.show_package').hide();
            $('#' + selected_package).slideToggle("slow");
            //package_data["package"] = selected_package
            //cp.setPackageParts(default_parts)
            SelectPackage(selected_package);
        });

        $('.cancel_custom').on('click', function(evt) {
            $('.cust_pckg').slideToggle("slow");
            $('.pckg_detail').slideToggle("slow");
            $('.customize').slideToggle("slow");
        });

        var SelectPackage = function(selected) {
            var selected = selected;

            self.package_index = _.object(_.pluck(window.KOPACKAGES, 'code'), window.KOPACKAGES);
            self.part_index = _.object(_.pluck(window.KOPARTS, 'code'), window.KOPARTS);
            self.category_lists = {};
            _.each(window.KOPARTS, function(p) { if (! category_lists[p.category]) {
                                                        category_lists[p.category]=[];
                                                        category_lists[p.category].push(p);
                                                    }
                                                });

            console.log("category_lists", self.category_lists);
            console.log("package lists", self.package_index);
            console.log("part index", self.part_index);

            if (selected) {
                selected = selected.toLowerCase();
                var sel_contents = self.package_index[selected]["contents"]
                console.log("sel contents", sel_contents)
                console.log("sel contents length", sel_contents.length)
                for (var i=0; i<sel_contents.length; i++) {
                    console.log(sel_contents[i]);
                    console.log(sel_contents[i]["code"]);
                    console.log(sel_contents[i]["part"]);
                    console.log(sel_contents[i]["quantity"]);
                }
            }

            $('.customize').on('click', function(evt) {
                evt.preventDefault();
                var $this = $(this);
                $this.hide();
                var pckg = $this.data('package');
                //PackageOptions(pckg);
                $('.pckg_detail').slideToggle("slow");
                $('.cust_pckg').slideToggle("slow");
                $('.save_custom').slideToggle("slow");
                $('.cancel_custom').slideToggle("slow");
            });
        };
        ko.applyBindings(new SelectPackage())

    });
    </script>

</body>
</html>


