<html>
<head>
    <style type="text/css">
        .purchase_items {
            width: 140px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h3>Purchase Items</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Part</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Line Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: purchase_lines">
                <tr>
                    <td>
                        <select data-bind='options:PARTS, optionsText: "name", optionsCaption: "Choose Part...", value: selected_part'></select>
                    </td>
                    <td>
                        <input class="input-mini" data-bind='visible: selected_part, value: quantity, valueUpdate: "afterkeydown"' style="text-align: center;"/>
                    </td>
                    <td data-bind="with: selected_part">$<span data-bind='visible: price, text: price'></span></td>
                    <td>$<span data-bind='visible: total_price, text: formatCurrency(total_price())'></span></td>
                    <td><a href='#' data-bind='click: $parent.removeLine'>Remove</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success purchase_items" data-bind='click: addLine'><i class="icon-plus"></i> Add Part</button>
        <button class="btn btn-primary purchase_items" data-bind='click: save'>Save Purchase</button>
    </div>

    <div>&nbsp;</div>
    <pre data-bind="text: ko.toJSON($root, null, 2)"></pre>

<script type="text/javascript">
    {% block javascript_variables_nocompress %}
        window.KOPARTS = {{json_ko_parts|safe}};
    {% endblock %}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.js"></script>
<script type="text/javascript">

    function formatCurrency(value) {
        return value.toFixed(2);
    };

    UpdatableAndSerializable = function() {
        // do not capture this into closure as self
        // this mixin uses 'parasitic' inheritance since the vm
        // constructors all start from a new UAS

        // this fn updates the view model from a blob
        // not as good as the python version
        this._update_from_dict = function(blob, obj) {
            // can only copy vms composed of other UAS-derived objects
            //  that are observable, vanilla variables, or arrays 
            _.each(blob, function(v, k) {
                console.log(ko.toJSON(blob));
                console.log(obj.returnFields());
                console.log(ko.toJSON(obj));
                console.log('setting ' + obj[k] + ' to ' + blob[k] + ' using ' + obj.returnFields()[k]);
                if(obj.returnFields()[k] === ko.observable) {
                    // copy observables
                    console.log('found observable ' + k + ':' + ko.toJSON(obj[k]()));
                    console.log('found target value ' + ko.toJSON(blob[k]));
                    // use observable to copy value
                    obj[k](blob[k]);
                } else if(obj.returnFields()[k] === ko.observableArray) {
                    // painful array cast
                    obj[k]().length = 0;
                    obj[k](blob[k]);
                } else {
                    // recursive viewmodel updates
                    obj[k]()._update_from_dict(blob[k], obj[k]());
                    obj[k].valueHasMutated();
                }
            });
        };

        // this fn returns a json-like blob from a view model
        // better than the python version by far
        this._serialize = function() {
            return ko.toJSON(this);
        };

        return this;
    };

    PartVM = function(blob) {
        var self = new UpdatableAndSerializable();
        blob = blob || {};

        var fields = {
            "category": ko.observable,
            "code": ko.observable,
            "name": ko.observable,
            "price": ko.observable,
            "points": ko.observable,
        }

        _.each(fields, function(v, k) {
            self[k] = v(blob[k]);
        });

        self.returnFields = function() {
            return fields;
        };

        return self;
    };

    PartLine = function(blob) {
        var self = new UpdatableAndSerializable();
        blob = blob || {};

        var fields = {
            "selected_part": PartVM,
            "quantity": ko.observable,
        };

        _.each(fields, function(v, k) {
            // cheating
            self[k] = ko.observable(blob[k])
            //self[k] = v(blob[k]);
        });

        self.total_price = ko.computed(function() {
            return (self.selected_part() && self.selected_part().price) ? self.quantity() * self.selected_part().price() : 0.00;
        });

        self.returnFields = function() {
            return fields;
        };

        self._serialize = function() {
            return ko.toJSON({ 'code': self.selected_part().code(), 'quantity': self.quantity() });
        };

        return self;
    };

    PurchaseParts = function(blob) {
        var self = new UpdatableAndSerializable();
        blob = blob || {};

        var fields = {
            "purchase_lines": ko.observableArray,
        };

        _.each(fields, function(v, k) {
            self[k] = v(blob[k]);
        });

        self.returnFields = function() {
            return fields;
        };

        self.addLine = function() {
            self.purchase_lines().push(new PartLine({'selected_part': {}, 'quantity': 0}));
            self.purchase_lines.valueHasMutated();
            console.log(ko.toJSON(self.purchase_lines()));
        };

        self.removeLine = function(line) { self.purchase_lines.remove(line) };

        self.save = function() {
            alert('{'+$.map(self.purchase_lines(), function(val) { return val._serialize(); }) + '}');
        }

        return self;
    };

    $(function() {

        // XXX: speed upgrade by having django send stuff that's already partvms
        window.PARTS = [];
        for(var idx in window.KOPARTS) {
            // turn these object literals into models so they have ufd
            window.PARTS.push(new PartVM(window.KOPARTS[idx]));
        }

        VM_purchase = new PurchaseParts({'purchase_lines': []});
        VM_purchase.addLine();
        console.log(ko.toJSON(VM_purchase));
        ko.applyBindings(VM_purchase);
    });
</script>

</body>
</html>
